## You have been hired by a rookie movie producer to help him decide what type of movies to produce and which actors to cast. You have to back your recommendations based on thorough analysis of the data he shared with you which has the list of 3000 movies and the corresponding details.

## As a data scientist, you have to first explore the data and check its sanity.

## Further, you have to answer the following questions:
1. ### <b> Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.</b>
2. ### <b>This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)? </b>
3. ### <b> Find out the unique genres of movies in this dataset.</b>
4. ### <b> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI? </b>
5. ### <b> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>
6. ### <b>Top 3 directors prefer which actors the most? </b>

# Data Exploration

In [1]:
#Import package
import pandas as pd
import numpy as np

In [2]:
imdb=pd.read_csv('C:/Users/HP/Desktop/NIT TIRCHY/DS/Alma Better/Datasets/imdb_data.csv')

In [3]:
imdb.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [4]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [5]:
imdb.loc[0,'crew']

'[{\'credit_id\': \'59ac067c92514107af02c8c8\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1449071, \'job\': \'First Assistant Director\', \'name\': \'Kelly Cantley\', \'profile_path\': None}, {\'credit_id\': \'52fe4ee7c3a36847f82afad7\', \'department\': \'Directing\', \'gender\': 2, \'id\': 3227, \'job\': \'Director\', \'name\': \'Steve Pink\', \'profile_path\': \'/myHOgo8mQSCiCAZNGMRdHVr03jr.jpg\'}, {\'credit_id\': \'5524ed25c3a3687ded000d88\', \'department\': \'Writing\', \'gender\': 2, \'id\': 347335, \'job\': \'Writer\', \'name\': \'Josh Heald\', \'profile_path\': \'/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg\'}, {\'credit_id\': \'5524ed2d925141720c001128\', \'department\': \'Writing\', \'gender\': 2, \'id\': 347335, \'job\': \'Characters\', \'name\': \'Josh Heald\', \'profile_path\': \'/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg\'}, {\'credit_id\': \'5524ed3d92514166c1004a5d\', \'department\': \'Production\', \'gender\': 2, \'id\': 57822, \'job\': \'Producer\', \'name\': \'Andrew Panay\', \'profile_path\': None}, {\'credit_id\': \'5524ed4bc3a3687df3000dd2\', \'department\': \'Production\', \'gender\': 0, \'id\': 1451395, \'job\': \'Associate Producer\', \'name\': \'Adam Blum\', \'profile_path\': None}, {\'credit_id\': \'5524ed5a925141720c00112c\', \'department\': \'Production\', \'gender\': 2, \'id\': 52997, \'job\': \'Executive Producer\', \'name\': \'Rob Corddry\', \'profile_path\': \'/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg\'}, {\'credit_id\': \'5524ed85c3a3687e0e000f56\', \'department\': \'Production\', \'gender\': 0, \'id\': 62807, \'job\': \'Executive Producer\', \'name\': \'Ben Ormand\', \'profile_path\': None}, {\'credit_id\': \'5524ed9fc3a3687e0e000f59\', \'department\': \'Sound\', \'gender\': 2, \'id\': 23486, \'job\': \'Original Music Composer\', \'name\': \'Christophe Beck\', \'profile_path\': \'/2fnJUmCk6IEpVIptpYaUk31epHx.jpg\'}, {\'credit_id\': \'5524eda6c3a3687e03000d28\', \'department\': \'Camera\', \'gender\': 2, \'id\': 6117, \'job\': \'Director of Photography\', \'name\': \'Declan Quinn\', \'profile_path\': None}, {\'credit_id\': \'5524edb4925141720c00113d\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1451396, \'job\': \'Editor\', \'name\': \'Jamie Gross\', \'profile_path\': None}, {\'credit_id\': \'5524edc1925141727600102e\', \'department\': \'Production\', \'gender\': 0, \'id\': 22219, \'job\': \'Casting\', \'name\': \'Susie Farris\', \'profile_path\': None}, {\'credit_id\': \'5524edd192514171cb008257\', \'department\': \'Art\', \'gender\': 0, \'id\': 1002643, \'job\': \'Production Design\', \'name\': \'Ryan Berg\', \'profile_path\': None}, {\'credit_id\': \'555ad9be9251411e5b00d485\', \'department\': \'Production\', \'gender\': 2, \'id\': 57431, \'job\': \'Executive Producer\', \'name\': \'Matt Moore\', \'profile_path\': None}, {\'credit_id\': \'5677e93bc3a36816890087dc\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1551818, \'job\': \'Script Supervisor\', \'name\': \'Nicole Garcea\', \'profile_path\': None}, {\'credit_id\': \'5677e96a92514179e10093d0\', \'department\': \'Production\', \'gender\': 0, \'id\': 1551819, \'job\': \'Production Coordinator\', \'name\': \'Jason Salzman\', \'profile_path\': None}, {\'credit_id\': \'5677e98492514179d2008cd9\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1422996, \'job\': \'Costume Design\', \'name\': \'Carol Cutshall\', \'profile_path\': None}, {\'credit_id\': \'5677e9d5c3a368168e009414\', \'department\': \'Art\', \'gender\': 2, \'id\': 500199, \'job\': \'Set Decoration\', \'name\': \'Tim Cohn\', \'profile_path\': None}, {\'credit_id\': \'5677f89d9251417845001a61\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1527917, \'job\': \'Hair Department Head\', \'name\': \'Voni Hinkle\', \'profile_path\': None}, {\'credit_id\': \'5677f8b392514179dd0089fb\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1431554, \'job\': \'Makeup Department Head\', \'name\': \'Remi Savva\', \'profile_path\': None}, {\'credit_id\': \'5677f8d1c3a3681689008a4b\', \'department\': \'Art\', \'gender\': 0, \'id\': 66495, \'job\': \'Art Direction\', \'name\': \'Jason Baldwin Stewart\', \'profile_path\': None}, {\'credit_id\': \'5677f8eec3a3681685008dd5\', \'department\': \'Production\', \'gender\': 0, \'id\': 1412466, \'job\': \'Production Supervisor\', \'name\': \'Korey Budd\', \'profile_path\': None}, {\'credit_id\': \'5677f90a9251417845001a7d\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1401562, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary C. Bourgeois\', \'profile_path\': None}, {\'credit_id\': \'5677f91e9251417845001a84\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1396794, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gabriel J. Serrano\', \'profile_path\': None}, {\'credit_id\': \'5677f938c3a3681680008dd4\', \'department\': \'Editing\', \'gender\': 0, \'id\': 13168, \'job\': \'Dialogue Editor\', \'name\': \'Victoria Rose Sampson\', \'profile_path\': None}, {\'credit_id\': \'5677f94e92514179dd008a1f\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551839, \'job\': \'Production Sound Mixer\', \'name\': \'Michael B. Koff\', \'profile_path\': None}, {\'credit_id\': \'5677f968c3a368168e009698\', \'department\': \'Sound\', \'gender\': 0, \'id\': 113052, \'job\': \'Sound Effects Editor\', \'name\': \'Randall Guth\', \'profile_path\': None}, {\'credit_id\': \'5677f98dc3a3681685008e02\', \'department\': \'Crew\', \'gender\': 2, \'id\': 1442535, \'job\': \'Stunt Coordinator\', \'name\': \'Chuck Picerni Jr.\', \'profile_path\': \'/yE5QtXUzcrnCzMRctZL8F5g842B.jpg\'}, {\'credit_id\': \'5677f9a692514179dd008a49\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1437305, \'job\': \'Camera Operator\', \'name\': \'Michael Applebaum\', \'profile_path\': None}, {\'credit_id\': \'5677f9bd9251417845001aae\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1401765, \'job\': \'Still Photographer\', \'name\': \'Steve Dietl\', \'profile_path\': None}, {\'credit_id\': \'5677f9e592514179e7008bf7\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1402721, \'job\': \'Rigging Gaffer\', \'name\': \'Tarik Naim Alherimi\', \'profile_path\': None}, {\'credit_id\': \'5677f9f4c3a368167c0090ed\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1402719, \'job\': \'Gaffer\', \'name\': \'Paul Olinde\', \'profile_path\': None}, {\'credit_id\': \'5677fa21c3a368168e0096ca\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551840, \'job\': \'Music Supervisor\', \'name\': \'Steve Griffen\', \'profile_path\': None}, {\'credit_id\': \'5677fa31c3a3681680008e04\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551841, \'job\': \'Music Editor\', \'name\': \'Matt Fausak\', \'profile_path\': None}, {\'credit_id\': \'5677fa4392514179dd008a76\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551840, \'job\': \'Music Editor\', \'name\': \'Steve Griffen\', \'profile_path\': None}, {\'credit_id\': \'5677fa609251417845001acf\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1403416, \'job\': \'Costume Supervisor\', \'name\': \'Shonta T. McCray\', \'profile_path\': None}, {\'credit_id\': \'5677fa8492514179d2008fb3\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1425831, \'job\': \'Steadicam Operator\', \'name\': \'Mark Karavite\', \'profile_path\': None}, {\'credit_id\': \'5677fab2c3a3681689008ac3\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1551842, \'job\': \'First Assistant Camera\', \'name\': \'Joe Waistell\', \'profile_path\': None}, {\'credit_id\': \'5677faecc3a368168e0096fe\', \'department\': \'Sound\', \'gender\': 0, \'id\': 58362, \'job\': \'Supervising Sound Editor\', \'name\': \'Michael Hilkene\', \'profile_path\': None}, {\'credit_id\': \'59ac0368c3a3682c0a02c484\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1881584, \'job\': \'Additional Writing\', \'name\': \'John Karnay\', \'profile_path\': None}, {\'credit_id\': \'59ac0411c3a3682bf0028966\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1431552, \'job\': \'Hairstylist\', \'name\': \'Daina Daigle\', \'profile_path\': None}, {\'credit_id\': \'59ac0504925141072302b8fb\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1712001, \'job\': \'Makeup Artist\', \'name\': \'Allison Gordin\', \'profile_path\': None}, {\'credit_id\': \'59ac0570c3a3682bf0028aac\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 578725, \'job\': \'Makeup Artist\', \'name\': \'Darryl Lucas\', \'profile_path\': None}, {\'credit_id\': \'59ac05a4925141077e02c97e\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1463274, \'job\': \'Makeup Artist\', \'name\': \'Annabelle MacNeal\', \'profile_path\': None}, {\'credit_id\': \'59ac05c6925141076502d106\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1881586, \'job\': \'Makeup Artist\', \'name\': \'Marina Savva\', \'profile_path\': None}, {\'credit_id\': \'59ac0615c3a3682c480296aa\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1406267, \'job\': \'Hairstylist\', \'name\': \'Carl G. Variste\', \'profile_path\': None}, {\'credit_id\': \'59ac06ba925141076502d1fa\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1798593, \'job\': \'First Assistant Director\', \'name\': \'Josh King\', \'profile_path\': None}, {\'credit_id\': \'59ac06f1c3a3682c2202aca0\', \'department\': \'Art\', \'gender\': 0, \'id\': 1415083, \'job\': \'Greensman\', \'name\': \'Scott C. Bivona\', \'profile_path\': None}, {\'credit_id\': \'59ac072c925141076502d260\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881587, \'job\': \'Title Designer\', \'name\': \'Eunha Choi\', \'profile_path\': None}, {\'credit_id\': \'59ac077c925141077e02cb62\', \'department\': \'Art\', \'gender\': 0, \'id\': 1585302, \'job\': \'Construction Coordinator\', \'name\': \'Daniel Coe\', \'profile_path\': None}, {\'credit_id\': \'59ac07e0925141078a02d842\', \'department\': \'Art\', \'gender\': 0, \'id\': 1495523, \'job\': \'Set Designer\', \'name\': \'Spencer Davison\', \'profile_path\': None}, {\'credit_id\': \'59ac0862925141072f02cf6f\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881589, \'job\': \'Painter\', \'name\': \'Sonia L. Garcia\', \'profile_path\': None}, {\'credit_id\': \'59ac08e0c3a3682bf0028e51\', \'department\': \'Art\', \'gender\': 0, \'id\': 1424896, \'job\': \'Art Department Coordinator\', \'name\': \'Caleb Guillotte\', \'profile_path\': None}, {\'credit_id\': \'59ac0920c3a3682c2202af36\', \'department\': \'Art\', \'gender\': 0, \'id\': 1393375, \'job\': \'Leadman\', \'name\': "Pat A. O\'Connor", \'profile_path\': None}, {\'credit_id\': \'59ac095592514107af02cc39\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881592, \'job\': \'Set Designer\', \'name\': \'Brendan Turrill\', \'profile_path\': None}, {\'credit_id\': \'59ac0989925141072302bdfa\', \'department\': \'Art\', \'gender\': 2, \'id\': 76497, \'job\': \'Property Master\', \'name\': \'Brook Yeaton\', \'profile_path\': None}, {\'credit_id\': \'59ac0a2cc3a3682c9c02add1\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1881596, \'job\': \'Boom Operator\', \'name\': \'Matthew Armstrong\', \'profile_path\': None}, {\'credit_id\': \'59ac0aa8925141072f02d282\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 1558086, \'job\': \'Special Effects Supervisor\', \'name\': \'Matt Kutcher\', \'profile_path\': None}, {\'credit_id\': \'59ac0b2ac3a3682c2202b192\', \'department\': \'Crew\', \'gender\': 2, \'id\': 1558087, \'job\': \'Special Effects Coordinator\', \'name\': \'Eric Roberts\', \'profile_path\': None}, {\'credit_id\': \'59ac0b7ac3a3682c2202b1fb\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1392098, \'job\': \'Visual Effects Supervisor\', \'name\': \'Rocco Passionino\', \'profile_path\': None}, {\'credit_id\': \'59ac0bbe925141077e02d0c4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1558716, \'job\': \'Visual Effects Coordinator\', \'name\': \'Joseph Payo\', \'profile_path\': None}, {\'credit_id\': \'59ac0bf2c3a3682cc802cefa\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1408784, \'job\': \'Visual Effects Producer\', \'name\': \'Chris Roff\', \'profile_path\': None}, {\'credit_id\': \'59ac0c51c3a3682c48029d99\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1881600, \'job\': \'Best Boy Electric\', \'name\': \'Ulyan Atamanyuk\', \'profile_path\': None}, {\'credit_id\': \'59ac0cbac3a3682c0a02cff6\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1881602, \'job\': \'Key Grip\', \'name\': \'Chris Ekstrom\', \'profile_path\': None}, {\'credit_id\': \'59ac0d54925141072f02d5e6\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1484984, \'job\': \'Best Boy Electric\', \'name\': \'Brad Garris\', \'profile_path\': None}, {\'credit_id\': \'59ac0db0925141078a02df86\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1881603, \'job\': \'Dolly Grip\', \'name\': \'Kendell Joseph\', \'profile_path\': None}, {\'credit_id\': \'59ac0e5a925141077e02d39f\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1549179, \'job\': \'Dolly Grip\', \'name\': \'Spencer Wilcox\', \'profile_path\': None}, {\'credit_id\': \'59ac0e9f925141079d02bee6\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1552626, \'job\': \'Key Costumer\', \'name\': \'Sarah P. Koeppe\', \'profile_path\': None}, {\'credit_id\': \'59ac0ec1c3a3682bf0029524\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1881605, \'job\': \'Seamstress\', \'name\': \'Catherine Rodi\', \'profile_path\': None}, {\'credit_id\': \'59ac0eef925141070702c7ff\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1463801, \'job\': \'Seamstress\', \'name\': \'Giselle Spence\', \'profile_path\': None}, {\'credit_id\': \'59ac0f5dc3a3682c4802a0f5\', \'department\': \'Production\', \'gender\': 0, \'id\': 1400837, \'job\': \'Location Manager\', \'name\': \'John A. Johnston\', \'profile_path\': None}, {\'credit_id\': \'59ac0ff2c3a3682c4802a196\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1844322, \'job\': \'Production Controller\', \'name\': \'Gail Marks\', \'profile_path\': None}]'

In [6]:
type(imdb.loc[0,'crew'])

str

In [7]:
imdb.loc[0,'crew'][0:10]

"[{'credit_"

In [8]:
print(imdb.loc[0,'crew'])

[{'credit_id': '59ac067c92514107af02c8c8', 'department': 'Directing', 'gender': 0, 'id': 1449071, 'job': 'First Assistant Director', 'name': 'Kelly Cantley', 'profile_path': None}, {'credit_id': '52fe4ee7c3a36847f82afad7', 'department': 'Directing', 'gender': 2, 'id': 3227, 'job': 'Director', 'name': 'Steve Pink', 'profile_path': '/myHOgo8mQSCiCAZNGMRdHVr03jr.jpg'}, {'credit_id': '5524ed25c3a3687ded000d88', 'department': 'Writing', 'gender': 2, 'id': 347335, 'job': 'Writer', 'name': 'Josh Heald', 'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'}, {'credit_id': '5524ed2d925141720c001128', 'department': 'Writing', 'gender': 2, 'id': 347335, 'job': 'Characters', 'name': 'Josh Heald', 'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'}, {'credit_id': '5524ed3d92514166c1004a5d', 'department': 'Production', 'gender': 2, 'id': 57822, 'job': 'Producer', 'name': 'Andrew Panay', 'profile_path': None}, {'credit_id': '5524ed4bc3a3687df3000dd2', 'department': 'Production', 'gender': 0, 'id': 1451395, 'job': 'Associate Producer', 'name': 'Adam Blum', 'profile_path': None}, {'credit_id': '5524ed5a925141720c00112c', 'department': 'Production', 'gender': 2, 'id': 52997, 'job': 'Executive Producer', 'name': 'Rob Corddry', 'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'}, {'credit_id': '5524ed85c3a3687e0e000f56', 'department': 'Production', 'gender': 0, 'id': 62807, 'job': 'Executive Producer', 'name': 'Ben Ormand', 'profile_path': None}, {'credit_id': '5524ed9fc3a3687e0e000f59', 'department': 'Sound', 'gender': 2, 'id': 23486, 'job': 'Original Music Composer', 'name': 'Christophe Beck', 'profile_path': '/2fnJUmCk6IEpVIptpYaUk31epHx.jpg'}, {'credit_id': '5524eda6c3a3687e03000d28', 'department': 'Camera', 'gender': 2, 'id': 6117, 'job': 'Director of Photography', 'name': 'Declan Quinn', 'profile_path': None}, {'credit_id': '5524edb4925141720c00113d', 'department': 'Editing', 'gender': 0, 'id': 1451396, 'job': 'Editor', 'name': 'Jamie Gross', 'profile_path': None}, {'credit_id': '5524edc1925141727600102e', 'department': 'Production', 'gender': 0, 'id': 22219, 'job': 'Casting', 'name': 'Susie Farris', 'profile_path': None}, {'credit_id': '5524edd192514171cb008257', 'department': 'Art', 'gender': 0, 'id': 1002643, 'job': 'Production Design', 'name': 'Ryan Berg', 'profile_path': None}, {'credit_id': '555ad9be9251411e5b00d485', 'department': 'Production', 'gender': 2, 'id': 57431, 'job': 'Executive Producer', 'name': 'Matt Moore', 'profile_path': None}, {'credit_id': '5677e93bc3a36816890087dc', 'department': 'Directing', 'gender': 0, 'id': 1551818, 'job': 'Script Supervisor', 'name': 'Nicole Garcea', 'profile_path': None}, {'credit_id': '5677e96a92514179e10093d0', 'department': 'Production', 'gender': 0, 'id': 1551819, 'job': 'Production Coordinator', 'name': 'Jason Salzman', 'profile_path': None}, {'credit_id': '5677e98492514179d2008cd9', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1422996, 'job': 'Costume Design', 'name': 'Carol Cutshall', 'profile_path': None}, {'credit_id': '5677e9d5c3a368168e009414', 'department': 'Art', 'gender': 2, 'id': 500199, 'job': 'Set Decoration', 'name': 'Tim Cohn', 'profile_path': None}, {'credit_id': '5677f89d9251417845001a61', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1527917, 'job': 'Hair Department Head', 'name': 'Voni Hinkle', 'profile_path': None}, {'credit_id': '5677f8b392514179dd0089fb', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1431554, 'job': 'Makeup Department Head', 'name': 'Remi Savva', 'profile_path': None}, {'credit_id': '5677f8d1c3a3681689008a4b', 'department': 'Art', 'gender': 0, 'id': 66495, 'job': 'Art Direction', 'name': 'Jason Baldwin Stewart', 'profile_path': None}, {'credit_id': '5677f8eec3a3681685008dd5', 'department': 'Production', 'gender': 0, 'id': 1412466, 'job': 'Production Supervisor', 'name': 'Korey Budd', 'profile_path': None}, {'credit_id': '5677f90a9251417845001a7d', 'department': 'Sound', 'gender': 0, 'id': 1401562, 'job': 'Sound Re-Recording Mixer', 'name': 'Gary C. Bourgeois', 'profile_path': None}, {'credit_id': '5677f91e9251417845001a84', 'department': 'Sound', 'gender': 0, 'id': 1396794, 'job': 'Sound Re-Recording Mixer', 'name': 'Gabriel J. Serrano', 'profile_path': None}, {'credit_id': '5677f938c3a3681680008dd4', 'department': 'Editing', 'gender': 0, 'id': 13168, 'job': 'Dialogue Editor', 'name': 'Victoria Rose Sampson', 'profile_path': None}, {'credit_id': '5677f94e92514179dd008a1f', 'department': 'Sound', 'gender': 0, 'id': 1551839, 'job': 'Production Sound Mixer', 'name': 'Michael B. Koff', 'profile_path': None}, {'credit_id': '5677f968c3a368168e009698', 'department': 'Sound', 'gender': 0, 'id': 113052, 'job': 'Sound Effects Editor', 'name': 'Randall Guth', 'profile_path': None}, {'credit_id': '5677f98dc3a3681685008e02', 'department': 'Crew', 'gender': 2, 'id': 1442535, 'job': 'Stunt Coordinator', 'name': 'Chuck Picerni Jr.', 'profile_path': '/yE5QtXUzcrnCzMRctZL8F5g842B.jpg'}, {'credit_id': '5677f9a692514179dd008a49', 'department': 'Camera', 'gender': 0, 'id': 1437305, 'job': 'Camera Operator', 'name': 'Michael Applebaum', 'profile_path': None}, {'credit_id': '5677f9bd9251417845001aae', 'department': 'Camera', 'gender': 0, 'id': 1401765, 'job': 'Still Photographer', 'name': 'Steve Dietl', 'profile_path': None}, {'credit_id': '5677f9e592514179e7008bf7', 'department': 'Lighting', 'gender': 0, 'id': 1402721, 'job': 'Rigging Gaffer', 'name': 'Tarik Naim Alherimi', 'profile_path': None}, {'credit_id': '5677f9f4c3a368167c0090ed', 'department': 'Lighting', 'gender': 0, 'id': 1402719, 'job': 'Gaffer', 'name': 'Paul Olinde', 'profile_path': None}, {'credit_id': '5677fa21c3a368168e0096ca', 'department': 'Sound', 'gender': 0, 'id': 1551840, 'job': 'Music Supervisor', 'name': 'Steve Griffen', 'profile_path': None}, {'credit_id': '5677fa31c3a3681680008e04', 'department': 'Sound', 'gender': 0, 'id': 1551841, 'job': 'Music Editor', 'name': 'Matt Fausak', 'profile_path': None}, {'credit_id': '5677fa4392514179dd008a76', 'department': 'Sound', 'gender': 0, 'id': 1551840, 'job': 'Music Editor', 'name': 'Steve Griffen', 'profile_path': None}, {'credit_id': '5677fa609251417845001acf', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1403416, 'job': 'Costume Supervisor', 'name': 'Shonta T. McCray', 'profile_path': None}, {'credit_id': '5677fa8492514179d2008fb3', 'department': 'Camera', 'gender': 0, 'id': 1425831, 'job': 'Steadicam Operator', 'name': 'Mark Karavite', 'profile_path': None}, {'credit_id': '5677fab2c3a3681689008ac3', 'department': 'Camera', 'gender': 0, 'id': 1551842, 'job': 'First Assistant Camera', 'name': 'Joe Waistell', 'profile_path': None}, {'credit_id': '5677faecc3a368168e0096fe', 'department': 'Sound', 'gender': 0, 'id': 58362, 'job': 'Supervising Sound Editor', 'name': 'Michael Hilkene', 'profile_path': None}, {'credit_id': '59ac0368c3a3682c0a02c484', 'department': 'Crew', 'gender': 0, 'id': 1881584, 'job': 'Additional Writing', 'name': 'John Karnay', 'profile_path': None}, {'credit_id': '59ac0411c3a3682bf0028966', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1431552, 'job': 'Hairstylist', 'name': 'Daina Daigle', 'profile_path': None}, {'credit_id': '59ac0504925141072302b8fb', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1712001, 'job': 'Makeup Artist', 'name': 'Allison Gordin', 'profile_path': None}, {'credit_id': '59ac0570c3a3682bf0028aac', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 578725, 'job': 'Makeup Artist', 'name': 'Darryl Lucas', 'profile_path': None}, {'credit_id': '59ac05a4925141077e02c97e', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1463274, 'job': 'Makeup Artist', 'name': 'Annabelle MacNeal', 'profile_path': None}, {'credit_id': '59ac05c6925141076502d106', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1881586, 'job': 'Makeup Artist', 'name': 'Marina Savva', 'profile_path': None}, {'credit_id': '59ac0615c3a3682c480296aa', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1406267, 'job': 'Hairstylist', 'name': 'Carl G. Variste', 'profile_path': None}, {'credit_id': '59ac06ba925141076502d1fa', 'department': 'Directing', 'gender': 0, 'id': 1798593, 'job': 'First Assistant Director', 'name': 'Josh King', 'profile_path': None}, {'credit_id': '59ac06f1c3a3682c2202aca0', 'department': 'Art', 'gender': 0, 'id': 1415083, 'job': 'Greensman', 'name': 'Scott C. Bivona', 'profile_path': None}, {'credit_id': '59ac072c925141076502d260', 'department': 'Art', 'gender': 0, 'id': 1881587, 'job': 'Title Designer', 'name': 'Eunha Choi', 'profile_path': None}, {'credit_id': '59ac077c925141077e02cb62', 'department': 'Art', 'gender': 0, 'id': 1585302, 'job': 'Construction Coordinator', 'name': 'Daniel Coe', 'profile_path': None}, {'credit_id': '59ac07e0925141078a02d842', 'department': 'Art', 'gender': 0, 'id': 1495523, 'job': 'Set Designer', 'name': 'Spencer Davison', 'profile_path': None}, {'credit_id': '59ac0862925141072f02cf6f', 'department': 'Art', 'gender': 0, 'id': 1881589, 'job': 'Painter', 'name': 'Sonia L. Garcia', 'profile_path': None}, {'credit_id': '59ac08e0c3a3682bf0028e51', 'department': 'Art', 'gender': 0, 'id': 1424896, 'job': 'Art Department Coordinator', 'name': 'Caleb Guillotte', 'profile_path': None}, {'credit_id': '59ac0920c3a3682c2202af36', 'department': 'Art', 'gender': 0, 'id': 1393375, 'job': 'Leadman', 'name': "Pat A. O'Connor", 'profile_path': None}, {'credit_id': '59ac095592514107af02cc39', 'department': 'Art', 'gender': 0, 'id': 1881592, 'job': 'Set Designer', 'name': 'Brendan Turrill', 'profile_path': None}, {'credit_id': '59ac0989925141072302bdfa', 'department': 'Art', 'gender': 2, 'id': 76497, 'job': 'Property Master', 'name': 'Brook Yeaton', 'profile_path': None}, {'credit_id': '59ac0a2cc3a3682c9c02add1', 'department': 'Sound', 'gender': 0, 'id': 1881596, 'job': 'Boom Operator', 'name': 'Matthew Armstrong', 'profile_path': None}, {'credit_id': '59ac0aa8925141072f02d282', 'department': 'Visual Effects', 'gender': 2, 'id': 1558086, 'job': 'Special Effects Supervisor', 'name': 'Matt Kutcher', 'profile_path': None}, {'credit_id': '59ac0b2ac3a3682c2202b192', 'department': 'Crew', 'gender': 2, 'id': 1558087, 'job': 'Special Effects Coordinator', 'name': 'Eric Roberts', 'profile_path': None}, {'credit_id': '59ac0b7ac3a3682c2202b1fb', 'department': 'Visual Effects', 'gender': 0, 'id': 1392098, 'job': 'Visual Effects Supervisor', 'name': 'Rocco Passionino', 'profile_path': None}, {'credit_id': '59ac0bbe925141077e02d0c4', 'department': 'Visual Effects', 'gender': 0, 'id': 1558716, 'job': 'Visual Effects Coordinator', 'name': 'Joseph Payo', 'profile_path': None}, {'credit_id': '59ac0bf2c3a3682cc802cefa', 'department': 'Visual Effects', 'gender': 0, 'id': 1408784, 'job': 'Visual Effects Producer', 'name': 'Chris Roff', 'profile_path': None}, {'credit_id': '59ac0c51c3a3682c48029d99', 'department': 'Lighting', 'gender': 0, 'id': 1881600, 'job': 'Best Boy Electric', 'name': 'Ulyan Atamanyuk', 'profile_path': None}, {'credit_id': '59ac0cbac3a3682c0a02cff6', 'department': 'Camera', 'gender': 0, 'id': 1881602, 'job': 'Key Grip', 'name': 'Chris Ekstrom', 'profile_path': None}, {'credit_id': '59ac0d54925141072f02d5e6', 'department': 'Lighting', 'gender': 0, 'id': 1484984, 'job': 'Best Boy Electric', 'name': 'Brad Garris', 'profile_path': None}, {'credit_id': '59ac0db0925141078a02df86', 'department': 'Camera', 'gender': 0, 'id': 1881603, 'job': 'Dolly Grip', 'name': 'Kendell Joseph', 'profile_path': None}, {'credit_id': '59ac0e5a925141077e02d39f', 'department': 'Camera', 'gender': 0, 'id': 1549179, 'job': 'Dolly Grip', 'name': 'Spencer Wilcox', 'profile_path': None}, {'credit_id': '59ac0e9f925141079d02bee6', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1552626, 'job': 'Key Costumer', 'name': 'Sarah P. Koeppe', 'profile_path': None}, {'credit_id': '59ac0ec1c3a3682bf0029524', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1881605, 'job': 'Seamstress', 'name': 'Catherine Rodi', 'profile_path': None}, {'credit_id': '59ac0eef925141070702c7ff', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1463801, 'job': 'Seamstress', 'name': 'Giselle Spence', 'profile_path': None}, {'credit_id': '59ac0f5dc3a3682c4802a0f5', 'department': 'Production', 'gender': 0, 'id': 1400837, 'job': 'Location Manager', 'name': 'John A. Johnston', 'profile_path': None}, {'credit_id': '59ac0ff2c3a3682c4802a196', 'department': 'Crew', 'gender': 0, 'id': 1844322, 'job': 'Production Controller', 'name': 'Gail Marks', 'profile_path': None}]

In [9]:
crew_list=eval(imdb.loc[0,'crew'])

In [10]:
len(crew_list)

72

In [11]:
eval(imdb.loc[0,'genres'])

[{'id': 35, 'name': 'Comedy'}]

In [12]:
type(imdb.loc[0,'genres'])

str

In [13]:
imdb.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [14]:
imdb=imdb[['budget','genres','imdb_id','original_language', 'original_title','cast', 'crew', 'revenue']]

In [15]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             3000 non-null   int64
 1   genres             2993 non-null   object
 2   imdb_id            3000 non-null   object
 3   original_language  3000 non-null   object
 4   original_title     3000 non-null   object
 5   cast               2987 non-null   object
 6   crew               2984 non-null   object
 7   revenue            3000 non-null   int64
dtypes: int64(2), object(6)
memory usage: 187.6+ KB

In [16]:
##Droping null values
imdb1=imdb.dropna()

In [17]:
imdb1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2978 entries, 0 to 2999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             2978 non-null   int64
 1   genres             2978 non-null   object
 2   imdb_id            2978 non-null   object
 3   original_language  2978 non-null   object
 4   original_title     2978 non-null   object
 5   cast               2978 non-null   object
 6   crew               2978 non-null   object
 7   revenue            2978 non-null   int64
dtypes: int64(2), object(6)
memory usage: 209.4+ KB

In [18]:
##Converting str to list for ar all row in 3 column (genres,cast,crew)
def str_list(str):
    return eval(str)
##imdb1['genres']=imdb1['genres'].apply(str_list)
imdb.loc[~imdb['genres'].isna(),'genres']=imdb.loc[~imdb['genres'].isna(),'genres'].apply(str_list)

In [19]:
type(imdb1.loc[0,'genres'])

str

In [20]:
imdb.loc[~imdb['cast'].isna(),'cast']=imdb.loc[~imdb['cast'].isna(),'cast'].apply(str_list)
imdb.loc[~imdb['crew'].isna(),'crew']=imdb.loc[~imdb['crew'].isna(),'crew'].apply(str_list)

In [21]:
type(imdb.loc[0,'cast'])

list

In [22]:
type(imdb.loc[0,'crew'])

list

In [23]:
imdb1=imdb.copy()

In [24]:
imdb1

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3300000,"[{'id': 18, 'name': 'Drama'}]",tt2582802,en,Whiplash,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1821480,hi,Kahaani,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970
...,...,...,...,...,...,...,...,...
2995,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0109403,en,Chasers,"[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2996,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",tt2364975,sv,Vi är bäst!,"[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590
2997,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",tt0116908,en,The Long Kiss Goodnight,"[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0343135,en,Along Came Polly,"[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",tt1600195,en,Abduction,"[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [25]:
imdb1.isna()

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
2995,False,False,False,False,False,False,False,False
2996,False,False,False,False,False,False,False,False
2997,False,False,False,False,False,False,False,False
2998,False,False,False,False,False,False,False,False
2999,False,False,False,False,False,False,False,False

In [26]:
imdb[imdb['genres'].isna()]

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue
470,2000000,NaN,tt0349159,en,"The Book of Mormon Movie, Volume 1: The Journey","[{'cast_id': 1, 'character': 'Sam', 'credit_id...",NaN,1672730
1622,400000,NaN,tt0261755,en,Jackpot,"[{'cast_id': 4, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4d3c9251416c9110f319', 'de...",43719
1814,2700000,NaN,tt0110289,it,Курочка Ряба,[],"[{'credit_id': '52fe4c139251416c910eeee3', 'de...",4635143
1819,0,NaN,tt0352622,ru,Небо. Самолёт. Девушка.,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4728c3a368484e0b7f53', 'de...",314195
2423,500000,NaN,tt0984177,en,Amarkalam,"[{'cast_id': 1, 'character': 'Vaasu', 'credit_...","[{'credit_id': '53b42af80e0a26598c00cea3', 'de...",500000
2686,0,NaN,tt0833448,ru,Лифт,[],"[{'credit_id': '57b8a5d19251411bc6000587', 'de...",123182
2900,200000,NaN,tt1766044,en,Poslednyaya skazka Rity,"[{'cast_id': 3, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4ab89251416c750ebaab', 'de...",486937

# 1.Which movie made the highest profit? Who were its producer and director? Identify the actors in that film?

In [27]:
imdb1.describe()

             budget       revenue
count  3.000000e+03  3.000000e+03
mean   2.253133e+07  6.672585e+07
std    3.702609e+07  1.375323e+08
min    0.000000e+00  1.000000e+00
25%    0.000000e+00  2.379808e+06
50%    8.000000e+06  1.680707e+07
75%    2.900000e+07  6.891920e+07
max    3.800000e+08  1.519558e+09

In [28]:
imdb1[imdb1['revenue']<1000].head(100)

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue
15,500000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",tt1129437,sr,Šišanje,"[{'cast_id': 1001, 'character': 'Novica', 'cre...","[{'credit_id': '52fe4927c3a36847f818bb5f', 'de...",198
116,0,"[{'id': 18, 'name': 'Drama'}]",tt2113822,zh,一九四二,"[{'cast_id': 3, 'character': 'Theodore Harold ...","[{'credit_id': '5761375dc3a36808aa001554', 'de...",311
150,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",tt0081760,en,Windwalker,"[{'cast_id': 5, 'character': 'Windwalker', 'cr...","[{'credit_id': '52fe494b9251416c910a8add', 'de...",18
152,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",tt0098061,en,Paperhouse,"[{'cast_id': 9, 'character': 'Anna Madden', 'c...","[{'credit_id': '52fe45e5c3a36847f80e0a31', 'de...",241
224,0,"[{'id': 35, 'name': 'Comedy'}]",tt5661030,en,Gary Gulman: It's About Time,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '580dd967c3a368259f0183c0', 'de...",500
269,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 107...",tt1092004,en,Glass: A Portrait of Philip in Twelve Parts,"[{'cast_id': 2, 'character': 'Himself', 'credi...","[{'credit_id': '52fe472e9251416c9106caeb', 'de...",20
280,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",tt0200469,en,Bats,"[{'cast_id': 1, 'character': 'Sheriff Emmett K...","[{'credit_id': '52fe437b9251416c750120e3', 'de...",10
312,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0380277,en,The Cookout,"[{'cast_id': 1, 'character': 'blin bling', 'cr...","[{'credit_id': '52fe477f9251416c7509b8ed', 'de...",12
334,1,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",tt0376144,ta,Saamy,"[{'cast_id': 11, 'character': 'Aaruchamy', 'cr...","[{'credit_id': '52fe4782c3a36847f813999f', 'de...",3
347,12,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",tt0118172,en,The Wind in the Willows,"[{'cast_id': 2, 'character': 'Toad', 'credit_i...","[{'credit_id': '59ce7655c3a3686aca01a522', 'de...",1
450,23000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0360139,en,Chasing Liberty,"[{'cast_id': 1, 'character': 'Anna Foster', 'c...","[{'credit_id': '563c813992514150af00414f', 'de...",12
498,0,"[{'id': 99, 'name': 'Documentary'}]",tt0841119,en,Lake of Fire,"[{'cast_id': 3, 'character': 'Himself', 'credi...","[{'credit_id': '52fe4681c3a36847f8102b29', 'de...",25
579,0,"[{'id': 28, 'name': 'Action'}, {'id': 37, 'nam...",tt0040175,en,Blood on the Moon,"[{'cast_id': 1, 'character': 'Jim Garry', 'cre...","[{'credit_id': '52fe4608c3a368484e07ce1b', 'de...",88
639,6,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",tt0183659,en,Pollock,"[{'cast_id': 1, 'character': 'Jackson Pollock'...","[{'credit_id': '52fe44f19251416c75046447', 'de...",8
664,0,"[{'id': 10751, 'name': 'Family'}]",tt0110168,en,My Summer Story,"[{'cast_id': 2, 'character': 'Mr. Parker', 'cr...","[{'credit_id': '52fe482d9251416c91082f67', 'de...",70
665,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",tt1340773,en,Elektra Luxx,"[{'cast_id': 3, 'character': 'Elektra Luxx', '...","[{'credit_id': '52fe48f6c3a36847f818264f', 'de...",10
695,1,"[{'id': 10749, 'name': 'Romance'}, {'id': 53, ...",tt0374271,hi,Tere Naam,"[{'cast_id': 3, 'character': 'Radhe Mohan', 'c...","[{'credit_id': '52fe491ec3a36847f8189cfb', 'de...",2
886,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",tt2395459,en,Sinapupunan,"[{'cast_id': 2, 'character': 'Shaleha', 'credi...","[{'credit_id': '52fe4a74c3a368484e1544d3', 'de...",306
928,0,"[{'id': 36, 'name': 'History'}, {'id': 28, 'na...",tt2193418,en,Hammer of the Gods,"[{'cast_id': 3, 'character': 'Steinar', 'credi...","[{'credit_id': '52fe4cab9251416c910fc3e5', 'de...",641
1006,2000000,"[{'id': 53, 'name': 'Thriller'}]",tt0429277,en,Zyzzyx Road,"[{'cast_id': 1, 'character': 'Marissa', 'credi...","[{'credit_id': '52fe45c6c3a36847f80d9bd3', 'de...",30
1007,0,"[{'id': 35, 'name': 'Comedy'}]",tt1860180,en,Billy Gardell: Halftime,"[{'cast_id': 9, 'character': 'Himself', 'credi...","[{'credit_id': '52fe4be1c3a368484e19d265', 'de...",60
1055,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",tt1810697,en,Meeting Evil,"[{'cast_id': 1001, 'character': 'Joanie', 'cre...","[{'credit_id': '52fe494e9251416c750c3c41', 'de...",525
1138,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",tt0109890,en,The Getaway,"[{'cast_id': 14, 'character': 'Carter Doc McCo...","[{'credit_id': '52fe4334c3a36847f804222d', 'de...",30
1141,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",tt1922561,ko,북촌방향,"[{'cast_id': 3, 'character': 'Sungjoon', 'cred...","[{'credit_id': '52fe49499251416c910a86f1', 'de...",11
1161,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",tt0018455,en,Sunrise: A Song of Two Humans,"[{'cast_id': 13, 'character': 'The Man (Anses)...","[{'credit_id': '564294739251410a410002dd', 'de...",121
1190,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",tt0089984,en,He-Man and She-Ra: The Secret of the Sword,"[{'cast_id': 13, 'character': 'Prince Adam / H...","[{'credit_id': '52fe47d59251416c750a6ef7', 'de...",7
1198,5,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",tt0077523,en,Every Which Way But Loose,"[{'cast_id': 1, 'character': 'Philo Beddoe', '...","[{'credit_id': '52fe46579251416c75075487', 'de...",85
1240,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",tt2166214,en,Khiladi 786,"[{'cast_id': 2, 'character': 'Bahattar Singh (...","[{'credit_id': '52fe4bb29251416c7510b2dd', 'de...",126
1254,0,"[{'id': 18, 'name': 'Drama'}]",tt1503777,fr,Illégal,"[{'cast_id': 1002, 'character': 'Tania', 'cred...","[{'credit_id': '52fe464cc3a368484e088f3b', 'de...",404
1281,9000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0795368,en,Death at a Funeral,"[{'cast_id': 4, 'character': 'Daniel', 'credit...","[{'credit_id': '52fe4340c3a36847f8045d0d', 'de...",46
1346,1,"[{'id': 18, 'name': 'Drama'}]",tt0048028,en,East of Eden,"[{'cast_id': 4, 'character': 'Caleb Trask', 'c...","[{'credit_id': '52fe4228c3a36847f800869d', 'de...",5
1354,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",tt1131724,en,2:22,"[{'cast_id': 18, 'character': 'Dylan Branson',...","[{'credit_id': '5967ccb8c3a36879cb006d0f', 'de...",422
1376,0,"[{'id': 18, 'name': 'Drama'}]",tt4291600,en,Lady Macbeth,"[{'cast_id': 0, 'character': 'Katherine Lester...","[{'credit_id': '5968f4a2c3a36875e9021182', 'de...",923
1479,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 104...",tt2064713,en,A Band Called Death,"[{'cast_id': 4, 'character': 'Himself', 'credi...","[{'credit_id': '52fe4c35c3a368484e1acb33', 'de...",125
1541,750000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",tt3805180,ru,Все и сразу,"[{'cast_id': 3, 'character': 'Viktor', 'credit...","[{'credit_id': '53b7a7b90e0a2676b8006ab6', 'de...",3
1754,2,"[{'id': 53, 'name': 'Thriller'}, {'id': 10769,...",tt0110604,en,Mute Witness,"[{'cast_id': 22, 'character': 'Billy Hughes', ...","[{'credit_id': '52fe4775c3a36847f8136af1', 'de...",1
1800,5,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",tt0144134,en,The Cherry Orchard,[],"[{'credit_id': '52fe471bc3a36847f8123c13', 'de...",135
1874,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",tt1133617,en,Vermist,"[{'cast_id': 2, 'character': 'Murat Hoxha', 'c...","[{'credit_id': '52fe4838c3a36847f815cef1', 'de...",1
1884,12000000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",tt0199626,en,In the Cut,"[{'cast_id': 1, 'character': 'Frannie', 'credi...","[{'credit_id': '5628abae9251414cd8001453', 'de...",23
1917,592,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",tt0016104,en,The Merry Widow,"[{'cast_id': 2, 'character': 'Sally O'Hara', '...","[{'credit_id': '57351170c3a36802410000d5', 'de...",1
1948,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",tt0476805,hi,मालामाल वीकली,"[{'cast_id': 1, 'character': 'Kanhaiya', 'cred...","[{'credit_id': '592dd1fbc3a36808c3000dd9', 'de...",204
2032,4,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",tt0022879,en,A Farewell to Arms,"[{'cast_id': 1, 'character': 'Catherine Barkle...","[{'credit_id': '56d73d3e9251414291002436', 'de...",25
2090,10000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",tt0106684,en,Deadfall,"[{'cast_id': 3, 'character': 'Joe Donan', 'cre...","[{'credit_id': '52fe45449251416c9102c71f', 'de...",18
2117,344,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0294289,en,American Adobo,"[{'cast_id': 1, 'character': '', 'credit_id': ...","[{'credit_id': '52fe47d8c3a36847f814b4fd', 'de...",4
2251,130,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",tt1729637,hi,Bodyguard,"[{'cast_id': 1, 'character': 'Lovely B. Singh'...","[{'credit_id': '52fe48a1c3a368484e102d25', 'de...",8
2255,1,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0120836,en,Lost & Found,"[{'cast_id': 1, 'character': 'Dylan Ramsey', '...","[{'credit_id': '52fe47429251416c9106f659', 'de...",100
2383,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",tt0065486,fr,Borsalino,"[{'cast_id': 1, 'character': 'Fran√ßois Capell...","[{'credit_id': '531cd71cc3a3685c31006e82', 'de...",3
2384,0,"[{'id': 18, 'name': 'Drama'}]",tt0266078,en,Yolngu Boy,[],NaN,671
2399,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1904937,ja,カイジ2 人生奪回ゲーム,"[{'cast_id': 1, 'character': 'Kaiji Ito', 'cre...","[{'credit_id': '52fe4a68c3a36847f81cc20f', 'de...",15
2433,0,"[{'id': 35, 'name': 'Comedy'}]",tt0115697,en,Black Sheep,"[{'cast_id': 1, 'character': 'Mike Donnelly', ...","[{'credit_id': '52fe45c09251416c75061479', 'de...",32
2474,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",tt3043630,zh,小时代,"[{'cast_id': 10, 'character': 'Lin Xiao', 'cre...","[{'credit_id': '52fe4d5ac3a368484e1e482b', 'de...",79
2490,6400000,"[{'id': 53, 'name': 'Thriller'}, {'id': 10749,...",tt0113965,en,Never Talk to Strangers,"[{'cast_id': 1, 'character': 'Dr. Sarah Taylor...","[{'credit_id': '52fe4775c3a36847f8136a6d', 'de...",6
2577,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0131461,en,"The Life and Death of 9413, a Hollywood Extra","[{'cast_id': 2, 'character': '9413', 'credit_i...","[{'credit_id': '5538d20192514112560055d3', 'de...",97
2582,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",tt0339230,sv,Kopps,"[{'cast_id': 1, 'character': 'Jacob', 'credit_...","[{'credit_id': '52fe44ddc3a36847f80ae983', 'de...",8
2759,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",tt0112909,en,Dou Sing 2 - Gai Tau Dou Sing,"[{'cast_id': 3, 'character': 'God Bless You', ...","[{'credit_id': '52fe48bf9251416c750b1f75', 'de...",13
2864,410000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",tt0066773,de,Die Angst des Tormanns beim Elfmeter,"[{'cast_id': 4, 'character': 'Josef Bloch', 'c...","[{'credit_id': '5925158bc3a3687870008efc', 'de...",100
2874,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt1619037,en,Nice Guy Johnny,"[{'cast_id': 3, 'character': 'Johnny Rizzo', '...","[{'credit_id': '52fe466cc3a36847f80fe3c1', 'de...",25

In [29]:
imdb1[imdb1['budget']<1000].head(100)

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue
4,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970
7,0,"[{'id': 99, 'name': 'Documentary'}]",tt0391024,en,Control Room,"[{'cast_id': 2, 'character': 'Himself', 'credi...","[{'credit_id': '52fe47a69251416c750a0daf', 'de...",2586511
8,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",tt0117110,en,Muppet Treasure Island,"[{'cast_id': 1, 'character': 'Long John Silver...","[{'credit_id': '52fe43c89251416c7501deb3', 'de...",34327391
11,0,"[{'id': 35, 'name': 'Comedy'}]",tt0093857,en,Revenge of the Nerds II: Nerds in Paradise,"[{'cast_id': 2, 'character': 'Lewis Skolnick',...","[{'credit_id': '52fe46f49251416c750891e9', 'de...",22642033
17,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",tt1700845,en,The Invisible Woman,"[{'cast_id': 7, 'character': 'Charles Dickens'...","[{'credit_id': '53b94a260e0a2676c7009b37', 'de...",1234254
...,...,...,...,...,...,...,...,...
334,1,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",tt0376144,ta,Saamy,"[{'cast_id': 11, 'character': 'Aaruchamy', 'cr...","[{'credit_id': '52fe4782c3a36847f813999f', 'de...",3
337,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...",tt1655400,ja,ゴースト もういちど抱きしめたい,"[{'cast_id': 1, 'character': 'Nanami Hoshino',...","[{'credit_id': '5350dba4c3a3681d93000d98', 'de...",9833553
340,0,"[{'id': 35, 'name': 'Comedy'}]",tt2725962,en,What We Did on Our Holiday,"[{'cast_id': 4, 'character': 'Doug McLeod', 'c...","[{'credit_id': '539e4d040e0a2603c00000cd', 'de...",1289998
342,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0424287,en,The Mostly Unfabulous Social Life of Ethan Green,"[{'cast_id': 1, 'character': 'Ethan Green', 'c...","[{'credit_id': '53dd5027c3a3686c5d0001bd', 'de...",152810
343,0,"[{'id': 10752, 'name': 'War'}, {'id': 18, 'nam...",tt0083591,en,Attack Force Z,"[{'cast_id': 1, 'character': 'Lieutenant Veitc...","[{'credit_id': '52fe463ac3a36847f80f3949', 'de...",88000

In [30]:
imdb1.loc[imdb['budget']<1000,'budget']=imdb1.loc[imdb1['budget']>=1000,'budget'].median()

In [31]:
imdb1[imdb1['budget']>=1000].median()

budget     16450000.0
revenue    16807068.0
dtype: float64

In [32]:
imdb1.loc[imdb['budget']<1000,'budget']

4       16450000
7       16450000
8       16450000
11      16450000
17      16450000
          ...
2989    16450000
2990    16450000
2994    16450000
2995    16450000
2996    16450000
Name: budget, Length: 830, dtype: int64

In [33]:
imdb1.loc[imdb['revenue']<1000,'revenue']=imdb1.loc[imdb1['revenue']>=1000,'revenue'].median()

In [34]:
imdb1.describe()

             budget       revenue
count  3.000000e+03  3.000000e+03
mean   2.708250e+07  6.705811e+07
std    3.492773e+07  1.373917e+08
min    2.500000e+03  1.404000e+03
25%    1.000000e+07  2.947600e+06
50%    1.645000e+07  1.748753e+07
75%    2.900000e+07  6.891920e+07
max    3.800000e+08  1.519558e+09

In [35]:
imdb1['profit']=imdb1['revenue']-imdb1['budget']

In [36]:
imdb1

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue,profit
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435
2,3300000,"[{'id': 18, 'name': 'Drama'}]",tt2582802,en,Whiplash,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,9792000
3,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1821480,hi,Kahaani,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,14800000
4,16450000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,-12526030
...,...,...,...,...,...,...,...,...,...
2995,16450000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0109403,en,Chasers,"[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,-14853313
2996,16450000,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",tt2364975,sv,Vi är bäst!,"[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,-16269410
2997,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",tt0116908,en,The Long Kiss Goodnight,"[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,24456761
2998,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0343135,en,Along Came Polly,"[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,129963386
2999,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",tt1600195,en,Abduction,"[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,47087155

In [37]:
##Max profit
p=np.where(imdb1['profit']==max(imdb1['profit']))

In [38]:
c=imdb1.loc[p]

In [39]:
c

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue,profit
1761,190000000,"[{'id': 28, 'name': 'Action'}]",tt2820852,en,Furious 7,"[{'cast_id': 17, 'character': 'Dominic Toretto...","[{'credit_id': '52fe4cc8c3a36847f823e681', 'de...",1506249360,1316249360

In [40]:
crew_list=c.iloc[0]['crew']
##c.iloc[0,6]
##c.loc[1761,'crew']

In [41]:
crew_list

[{'credit_id': '52fe4cc8c3a36847f823e681',
  'department': 'Production',
  'gender': 2,
  'id': 12835,
  'job': 'Producer',
  'name': 'Vin Diesel',
  'profile_path': '/7rwSXluNWZAluYMOEWBxkPmckES.jpg'},
 {'credit_id': '52fe4cc8c3a36847f823e687',
  'department': 'Production',
  'gender': 2,
  'id': 11874,
  'job': 'Producer',
  'name': 'Neal H. Moritz',
  'profile_path': '/cNcsEYmoS4niCz3UkVAA09dUIob.jpg'},
 {'credit_id': '52fe4cc8c3a36847f823e68d',
  'department': 'Writing',
  'gender': 2,
  'id': 58191,
  'job': 'Writer',
  'name': 'Chris Morgan',
  'profile_path': '/dUGxIwFBLrSFLImxjeda1krndMO.jpg'},
 {'credit_id': '52fe4cc8c3a36847f823e693',
  'department': 'Writing',
  'gender': 0,
  'id': 8162,
  'job': 'Characters',
  'name': 'Gary Scott Thompson',
  'profile_path': '/e2dMfqFvRsOXgWZ1VToYLmos17y.jpg'},
 {'credit_id': '52fe4cc8c3a36847f823e699',
  'department': 'Directing',
  'gender': 2,
  'id': 2127,
  'job': 'Director',
  'name': 'James Wan',
  'profile_path': '/d1LSKfzi5J6QngWS7niN1zPJdud.jpg'},
 {'credit_id': '52fe4cc8c3a36847f823e6a7',
  'department': 'Camera',
  'gender': 2,
  'id': 58192,
  'job': 'Director of Photography',
  'name': 'Stephen F. Windon',
  'profile_path': None},
 {'credit_id': '5534714692514125dc002be4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1455610,
  'job': 'Animation',
  'name': 'Tony Mecca',
  'profile_path': None},
 {'credit_id': '554fa7b992514110bd002a9d',
  'department': 'Camera',
  'gender': 0,
  'id': 1421687,
  'job': 'Director of Photography',
  'name': 'Marc Spicer',
  'profile_path': None},
 {'credit_id': '554fa7cbc3a36822540047fd',
  'department': 'Production',
  'gender': 1,
  'id': 90635,
  'job': 'Executive Producer',
  'name': 'Samantha Vincent',
  'profile_path': None},
 {'credit_id': '554fa7d89251413fcf00773d',
  'department': 'Production',
  'gender': 0,
  'id': 84064,
  'job': 'Associate Producer',
  'name': 'F. Valentino Morales',
  'profile_path': '/w85eCnNP0VgmfV5NWyq2SvRGi2y.jpg'},
 {'credit_id': '554fa7f2c3a3682254004803',
  'department': 'Production',
  'gender': 2,
  'id': 8181,
  'job': 'Producer',
  'name': 'Michael Fottrell',
  'profile_path': None},
 {'credit_id': '554fa80292514110bd002aa8',
  'department': 'Production',
  'gender': 0,
  'id': 75826,
  'job': 'Producer',
  'name': 'Brandon Birtell',
  'profile_path': None},
 {'credit_id': '55ed993ac3a3682c62015607',
  'department': 'Editing',
  'gender': 0,
  'id': 1204244,
  'job': 'Editor',
  'name': 'Leigh Folsom Boyd',
  'profile_path': None},
 {'credit_id': '55ed994cc3a3687d3b00d64c',
  'department': 'Editing',
  'gender': 0,
  'id': 1204245,
  'job': 'Editor',
  'name': 'Dylan Highsmith',
  'profile_path': None},
 {'credit_id': '55ed995dc3a3682c5d016867',
  'department': 'Editing',
  'gender': 0,
  'id': 62813,
  'job': 'Editor',
  'name': 'Kirk M. Morri',
  'profile_path': None},
 {'credit_id': '55ed99739251413e41014641',
  'department': 'Editing',
  'gender': 2,
  'id': 6668,
  'job': 'Editor',
  'name': 'Christian Wagner',
  'profile_path': None},
 {'credit_id': '55ed99859251413e3a014aae',
  'department': 'Production',
  'gender': 1,
  'id': 9545,
  'job': 'Casting',
  'name': 'Anne McCarthy',
  'profile_path': None},
 {'credit_id': '55ed99a4c3a3682c5d016875',
  'department': 'Production',
  'gender': 0,
  'id': 1276602,
  'job': 'Casting',
  'name': 'Kellie Roy',
  'profile_path': None},
 {'credit_id': '55ed99c7c3a3682c5d01687e',
  'department': 'Art',
  'gender': 0,
  'id': 1445830,
  'job': 'Art Direction',
  'name': 'Jonathan Carlos',
  'profile_path': None},
 {'credit_id': '55ed99d89251413e32014a65',
  'department': 'Art',
  'gender': 2,
  'id': 62780,
  'job': 'Art Direction',
  'name': 'Alan Hook',
  'profile_path': None},
 {'credit_id': '55ed99e992514106d600d85e',
  'department': 'Art',
  'gender': 0,
  'id': 1493864,
  'job': 'Art Direction',
  'name': 'Jay Pelissier',
  'profile_path': None},
 {'credit_id': '55ed9a36c3a3682c700147e3',
  'department': 'Art',
  'gender': 1,
  'id': 1506359,
  'job': 'Art Department Coordinator',
  'name': 'Kelly Richardson',
  'profile_path': None},
 {'credit_id': '55ed9a52c3a3682c640130c3',
  'department': 'Art',
  'gender': 0,
  'id': 1506360,
  'job': 'Art Department Coordinator',
  'name': 'Courtney Cocherell',
  'profile_path': None},
 {'credit_id': '55ed9a6cc3a368090c004f9c',
  'department': 'Art',
  'gender': 0,
  'id': 1326651,
  'job': 'Assistant Art Director',
  'name': 'Elena Albanese',
  'profile_path': None},
 {'credit_id': '55ed9a96c3a3686f17003be1',
  'department': 'Art',
  'gender': 0,
  'id': 1405376,
  'job': 'Assistant Art Director',
  'name': 'Alex McCarroll',
  'profile_path': None},
 {'credit_id': '55ed9acbc3a3682c640130e4',
  'department': 'Art',
  'gender': 0,
  'id': 1338147,
  'job': 'Construction Coordinator',
  'name': 'Bruce Di Valerio',
  'profile_path': None},
 {'credit_id': '55ed9b03c3a3682c640130f5',
  'department': 'Art',
  'gender': 2,
  'id': 52600,
  'job': 'Production Design',
  'name': 'Bill Brzeski',
  'profile_path': None},
 {'credit_id': '55ed9b169251413e2f0145a8',
  'department': 'Art',
  'gender': 1,
  'id': 75391,
  'job': 'Set Decoration',
  'name': 'Danielle Berman',
  'profile_path': None},
 {'credit_id': '55ed9b29c3a3682c5d0168d9',
  'department': 'Costume & Make-Up',
  'gender': 1,
  'id': 2519,
  'job': 'Costume Design',
  'name': 'Sanja Milkovic Hays',
  'profile_path': None},
 {'credit_id': '55ed9bdac3a3682c62015698',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1439109,
  'job': 'Costume Supervisor',
  'name': 'Nava R. Sadan',
  'profile_path': None},
 {'credit_id': '55ed9c0bc3a3686f17003c45',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1439747,
  'job': 'Costume Supervisor',
  'name': 'Andrew Hunt',
  'profile_path': None},
 {'credit_id': '55ed9c3192514106d600d8e0',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1506364,
  'job': 'Set Costumer',
  'name': 'Jim Alan Cook',
  'profile_path': None},
 {'credit_id': '55ed9c45c3a3682c5d016925',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1415019,
  'job': 'Set Costumer',
  'name': 'Shayne Allen Duhon',
  'profile_path': None},
 {'credit_id': '55ed9c579251413e32014af5',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1506365,
  'job': 'Set Costumer',
  'name': 'Empress Holley',
  'profile_path': None},
 {'credit_id': '55ed9c6d9251413e450148ff',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1413125,
  'job': 'Set Costumer',
  'name': 'Marina Marit',
  'profile_path': None},
 {'credit_id': '55ed9c8d92514106d600d8fb',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1506366,
  'job': 'Set Costumer',
  'name': 'Les Morgan',
  'profile_path': None},
 {'credit_id': '55ed9cda9251413e2f014612',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1408293,
  'job': 'Hairstylist',
  'name': 'Linda D. Flowers',
  'profile_path': None},
 {'credit_id': '55ed9cf69251413e2f01461d',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1412767,
  'job': 'Hairstylist',
  'name': "Yesim 'Shimmy' Osman",
  'profile_path': None},
 {'credit_id': '55ed9d0ec3a3687d3b00d73a',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1506367,
  'job': 'Hairstylist',
  'name': 'Jennifer Santiago',
  'profile_path': None},
 {'credit_id': '55ed9d2a9251413e3e0155d8',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1425409,
  'job': 'Hairstylist',
  'name': 'Rachel Solow',
  'profile_path': None},
 {'credit_id': '55ed9d4cc3a3682c620156ed',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1452643,
  'job': 'Hairstylist',
  'name': 'Roxane Griffin',
  'profile_path': None},
 {'credit_id': '55ed9d6fc3a3682c5d01696f',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1309209,
  'job': 'Makeup Department Head',
  'name': 'James MacKinnon',
  'profile_path': None},
 {'credit_id': '55ed9d8cc3a368090c00504f',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1506368,
  'job': 'Makeup Artist',
  'name': 'Autumn Butler',
  'profile_path': None},
 {'credit_id': '55ed9da09251413e3a014b98',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1437798,
  'job': 'Makeup Artist',
  'name': "Roxy D'Alonzo",
  'profile_path': None},
 {'credit_id': '55ed9db79251413e3a014ba5',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1506369,
  'job': 'Makeup Artist',
  'name': 'Hee Soo Kwon',
  'profile_path': None},
 {'credit_id': '55ed9dce9251413e32014b4e',
  'department': 'Costume & Make-Up',
  'gender': 1,
  'id': 1459196,
  'job': 'Makeup Artist',
  'name': 'Sarah Mays',
  'profile_path': None},
 {'credit_id': '55ed9de4c3a3687d3b00d775',
  'department': 'Costume & Make-Up',
  'gender': 2,
  'id': 15330,
  'job': 'Makeup Artist',
  'name': 'Paul Pattison',
  'profile_path': None},
 {'credit_id': '55ed9df99251413e3e015610',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1317667,
  'job': 'Makeup Artist',
  'name': 'Eleanor Sabaduquia',
  'profile_path': None},
 {'credit_id': '55ed9e1fc3a3687d3b00d77e',
  'department': 'Crew',
  'gender': 0,
  'id': 1414497,
  'job': 'Property Master',
  'name': 'Guillaume DeLouche',
  'profile_path': None},
 {'credit_id': '55ed9e3ac3a368090c005084',
  'department': 'Crew',
  'gender': 0,
  'id': 1464516,
  'job': 'Property Master',
  'name': 'Douglas T. Madison',
  'profile_path': None},
 {'credit_id': '55ed9f5d9251413e3e015662',
  'department': 'Crew',
  'gender': 2,
  'id': 57158,
  'job': 'Second Unit Cinematographer',
  'name': 'Igor Meglic',
  'profile_path': None},
 {'credit_id': '55ed9fa0c3a3682c6401320f',
  'department': 'Crew',
  'gender': 0,
  'id': 13670,
  'job': 'Second Unit Cinematographer',
  'name': 'Jacques Haitkin',
  'profile_path': None},
 {'credit_id': '55ed9fc59251413e32014bbc',
  'department': 'Lighting',
  'gender': 0,
  'id': 1437304,
  'job': 'Gaffer',
  'name': 'Michael Ambrose',
  'profile_path': None},
 {'credit_id': '55ed9fe79251413e410147e4',
  'department': 'Camera',
  'gender': 0,
  'id': 1506371,
  'job': 'Camera Operator',
  'name': 'Denise Bailie',
  'profile_path': None},
 {'credit_id': '55ed9ffa9251413e3a014c40',
  'department': 'Camera',
  'gender': 0,
  'id': 1506373,
  'job': 'Camera Operator',
  'name': 'Robert-James Bova',
  'profile_path': None},
 {'credit_id': '55eda0299251413e3a014c49',
  'department': 'Lighting',
  'gender': 0,
  'id': 1439108,
  'job': 'Rigging Gaffer',
  'name': 'Tom Fendley',
  'profile_path': None},
 {'credit_id': '55eda056c3a3682c7001494b',
  'department': 'Camera',
  'gender': 0,
  'id': 1434896,
  'job': 'Camera Operator',
  'name': 'Sarah Levy',
  'profile_path': None},
 {'credit_id': '55eda06e9251413e450149ee',
  'department': 'Camera',
  'gender': 2,
  'id': 74989,
  'job': 'Camera Operator',
  'name': 'Mark Emery Moore',
  'profile_path': '/mhjX0FuAXv6SeSLLFHpaaiQbx6P.jpg'},
 {'credit_id': '55eda082c3a3682c6b014009',
  'department': 'Camera',
  'gender': 2,
  'id': 1432918,
  'job': 'Camera Operator',
  'name': 'Daniel Nichols',
  'profile_path': None},
 {'credit_id': '55eda09d9251413e3e01569d',
  'department': 'Camera',
  'gender': 0,
  'id': 1439104,
  'job': 'Camera Operator',
  'name': 'Onofrio Nino Pansini',
  'profile_path': None},
 {'credit_id': '55eda0b59251413e3a014c6c',
  'department': 'Camera',
  'gender': 0,
  'id': 1408356,
  'job': 'Camera Operator',
  'name': 'David Richert',
  'profile_path': None},
 {'credit_id': '55eda0d1c3a3686f17003d58',
  'department': 'Camera',
  'gender': 2,
  'id': 1411271,
  'job': 'Camera Operator',
  'name': 'Michael J. Walker',
  'profile_path': None},
 {'credit_id': '55eda0f7c3a3687d3b00d81b',
  'department': 'Camera',
  'gender': 2,
  'id': 1378241,
  'job': 'Camera Operator',
  'name': 'Maurice K. McGuire',
  'profile_path': None},
 {'credit_id': '55eda1159251413e3e0156bd',
  'department': 'Camera',
  'gender': 0,
  'id': 1411842,
  'job': 'Camera Operator',
  'name': 'Richard Latham',
  'profile_path': None},
 {'credit_id': '55eda12c92514106d600da0a',
  'department': 'Camera',
  'gender': 0,
  'id': 1404739,
  'job': 'Helicopter Camera',
  'name': 'Steve Koster',
  'profile_path': None},
 {'credit_id': '55eda1939251413e3501498d',
  'department': 'Camera',
  'gender': 0,
  'id': 91122,
  'job': 'Helicopter Camera',
  'name': 'Dylan Goss',
  'profile_path': None},
 {'credit_id': '55eda1b39251413e3a014ca8',
  'department': 'Camera',
  'gender': 0,
  'id': 82169,
  'job': 'Steadicam Operator',
  'name': 'Geoffrey Haley',
  'profile_path': None},
 {'credit_id': '55eda1c7c3a3686f17003d8c',
  'department': 'Camera',
  'gender': 0,
  'id': 1419105,
  'job': 'Still Photographer',
  'name': 'Scott Garfield',
  'profile_path': None},
 {'credit_id': '55eda1dbc3a3686f17003d92',
  'department': 'Camera',
  'gender': 2,
  'id': 1395281,
  'job': 'Additional Camera',
  'name': 'Bob Gorelick',
  'profile_path': None},
 {'credit_id': '55eda200c3a3682c5d016a8f',
  'department': 'Camera',
  'gender': 0,
  'id': 1375920,
  'job': 'Additional Camera',
  'name': 'J. Christopher Campbell',
  'profile_path': None},
 {'credit_id': '55eda228c3a3682c64013295',
  'department': 'Lighting',
  'gender': 0,
  'id': 1403412,
  'job': 'Gaffer',
  'name': 'Dan Cornwall',
  'profile_path': None},
 {'credit_id': '55eda25f92514106d600da4b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1442137,
  'job': 'Animation Supervisor',
  'name': 'Catherine Mullan',
  'profile_path': None},
 {'credit_id': '55eda292c3a3682c5d016ab2',
  'department': 'Sound',
  'gender': 0,
  'id': 1393405,
  'job': 'Music Editor',
  'name': 'Robb Boyd',
  'profile_path': None},
 {'credit_id': '55eda2a9c3a3682c6b014075',
  'department': 'Sound',
  'gender': 0,
  'id': 1328758,
  'job': 'Music Editor',
  'name': 'Matthew Llewellyn',
  'profile_path': None},
 {'credit_id': '55eda2c89251413e45014a6d',
  'department': 'Directing',
  'gender': 0,
  'id': 1389138,
  'job': 'Script Supervisor',
  'name': 'Jody Blose',
  'profile_path': None},
 {'credit_id': '55eda305c3a3682c700149c1',
  'department': 'Directing',
  'gender': 0,
  'id': 1408365,
  'job': 'Script Supervisor',
  'name': 'Brenda K. Wachel',
  'profile_path': None},
 {'credit_id': '55eda32dc3a3686f17003ddd',
  'department': 'Crew',
  'gender': 2,
  'id': 8167,
  'job': 'Thanks',
  'name': 'Paul Walker',
  'profile_path': '/iqvYezRoEY5k8wnlfHriHQfl5dX.jpg'},
 {'credit_id': '55eda3b592514106d600da94',
  'department': 'Editing',
  'gender': 0,
  'id': 1400354,
  'job': 'Digital Intermediate',
  'name': 'Amy Pawlowski',
  'profile_path': None},
 {'credit_id': '55eda3d792514106d600da9b',
  'department': 'Editing',
  'gender': 0,
  'id': 110262,
  'job': 'First Assistant Editor',
  'name': 'Richard Conkling',
  'profile_path': None},
 {'credit_id': '55eda3edc3a3686f17003e0c',
  'department': 'Editing',
  'gender': 0,
  'id': 1194885,
  'job': 'First Assistant Editor',
  'name': 'Dave  Cory',
  'profile_path': None},
 {'credit_id': '55eda4169251413e410148ec',
  'department': 'Editing',
  'gender': 0,
  'id': 1439749,
  'job': 'First Assistant Editor',
  'name': 'Laura Steiger',
  'profile_path': None},
 {'credit_id': '55eda48092514106d600daba',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1506377,
  'job': 'Animation Supervisor',
  'name': 'Daniel Barrett',
  'profile_path': '/pplTJP3gCWmP3SMDrXjOt1579MV.jpg'},
 {'credit_id': '55eda5109251413e32014cf0',
  'department': 'Sound',
  'gender': 0,
  'id': 12562,
  'job': 'ADR & Dubbing',
  'name': 'Anna MacKenzie',
  'profile_path': None},
 {'credit_id': '55eda51ac3a3686f17003e52',
  'department': 'Editing',
  'gender': 0,
  'id': 12562,
  'job': 'Dialogue Editor',
  'name': 'Anna MacKenzie',
  'profile_path': None},
 {'credit_id': '55eda539c3a368090c0051c2',
  'department': 'Editing',
  'gender': 0,
  'id': 1342658,
  'job': 'Dialogue Editor',
  'name': 'Frederick H. Stahly',
  'profile_path': None},
 {'credit_id': '55eda56a9251413e45014adf',
  'department': 'Sound',
  'gender': 2,
  'id': 1077782,
  'job': 'Foley',
  'name': 'Gary A. Hecker',
  'profile_path': '/qyBUauN3XIS2Mlus3OdGCmrUo0S.jpg'},
 {'credit_id': '55eda58292514106d600daf4',
  'department': 'Sound',
  'gender': 0,
  'id': 1367362,
  'job': 'Foley',
  'name': 'Rick Owens',
  'profile_path': None},
 {'credit_id': '55eda59ac3a3682c5d016b50',
  'department': 'Sound',
  'gender': 0,
  'id': 1236340,
  'job': 'Foley',
  'name': 'Dylan Tuomy-Wilhoit',
  'profile_path': None},
 {'credit_id': '55eda5b09251413e45014af1',
  'department': 'Sound',
  'gender': 0,
  'id': 548445,
  'job': 'Foley',
  'name': 'Jeffrey Wilhoit',
  'profile_path': None},
 {'credit_id': '55eda7169251413e45014b3b',
  'department': 'Sound',
  'gender': 2,
  'id': 7239,
  'job': 'Sound Designer',
  'name': 'Peter Brown',
  'profile_path': None},
 {'credit_id': '55eda73d9251413e4101498c',
  'department': 'Sound',
  'gender': 0,
  'id': 1392083,
  'job': 'Sound Designer',
  'name': 'Ann Scibelli',
  'profile_path': None},
 {'credit_id': '55eda779c3a3682c70014abc',
  'department': 'Sound',
  'gender': 0,
  'id': 1413453,
  'job': 'Sound Effects Editor',
  'name': 'Stephen P. Robinson',
  'profile_path': None},
 {'credit_id': '55eda7989251413e3e015838',
  'department': 'Sound',
  'gender': 0,
  'id': 1394131,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Jon Taylor',
  'profile_path': None},
 {'credit_id': '55eda7afc3a3686f17003ebf',
  'department': 'Sound',
  'gender': 0,
  'id': 1394130,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Frank A. Monta√±o',
  'profile_path': None},
 {'credit_id': '55eda7d79251413e32014e11',
  'department': 'Sound',
  'gender': 0,
  'id': 1309884,
  'job': 'Supervising Sound Editor',
  'name': 'Joe Dzuban',
  'profile_path': None},
 {'credit_id': '570bd40dc3a36802a30002d9',
  'department': 'Art',
  'gender': 0,
  'id': 1424153,
  'job': 'Supervising Art Director',
  'name': 'Desma Murphy',
  'profile_path': None},
 {'credit_id': '5668cc7a92514174040040f2',
  'department': 'Sound',
  'gender': 2,
  'id': 6041,
  'job': 'Original Music Composer',
  'name': 'Brian Tyler',
  'profile_path': '/22QWiNJj03amY6GT1QPUs7dbdcB.jpg'},
 {'credit_id': '58ebe1fa925141281008e943',
  'department': 'Production',
  'gender': 2,
  'id': 58191,
  'job': 'Executive Producer',
  'name': 'Chris Morgan',
  'profile_path': '/dUGxIwFBLrSFLImxjeda1krndMO.jpg'}]

In [42]:
## Find the producer and director
for i in crew_list:
    if i['job']=='Producer':
        print('The producer name is',i['name'])
    if i['job']=='Director':
        print('The Director name is',i['name'])

The producer name is Vin Diesel
The producer name is Neal H. Moritz
The Director name is James Wan
The producer name is Michael Fottrell
The producer name is Brandon Birtell

In [43]:
##Get the actors
cast_list=c.iloc[0]['cast']

In [44]:
cast_list

[{'cast_id': 17,
  'character': 'Dominic Toretto',
  'credit_id': '5431dfd10e0a265915002c34',
  'gender': 2,
  'id': 12835,
  'name': 'Vin Diesel',
  'order': 0,
  'profile_path': '/7rwSXluNWZAluYMOEWBxkPmckES.jpg'},
 {'cast_id': 19,
  'character': "Brian O'Conner",
  'credit_id': '5431dfe4c3a3681143002b98',
  'gender': 2,
  'id': 8167,
  'name': 'Paul Walker',
  'order': 1,
  'profile_path': '/iqvYezRoEY5k8wnlfHriHQfl5dX.jpg'},
 {'cast_id': 18,
  'character': 'Hobbs',
  'credit_id': '5431dfdbc3a36831a6004376',
  'gender': 2,
  'id': 18918,
  'name': 'Dwayne Johnson',
  'order': 2,
  'profile_path': '/kuqFzlYMc2IrsOyPznMd1FroeGq.jpg'},
 {'cast_id': 20,
  'character': 'Letty',
  'credit_id': '5431dfeec3a36811ef002c75',
  'gender': 1,
  'id': 17647,
  'name': 'Michelle Rodriguez',
  'order': 3,
  'profile_path': '/v37VK0MNuRuJOCKPKJcZAJXRA5r.jpg'},
 {'cast_id': 28,
  'character': 'Roman',
  'credit_id': '5431e0310e0a2656e2002c95',
  'gender': 2,
  'id': 8169,
  'name': 'Tyrese Gibson',
  'order': 4,
  'profile_path': '/a3tyF7QXgeEH0QuEuIzNZZ8oLNS.jpg'},
 {'cast_id': 31,
  'character': "Tej (as Chris 'Ludacris' Bridges)",
  'credit_id': '5431e0520e0a2658b2002c3c',
  'gender': 2,
  'id': 8171,
  'name': 'Ludacris',
  'order': 5,
  'profile_path': '/xLfq9wFO6dtYuUK96hbJ8I8EKFw.jpg'},
 {'cast_id': 24,
  'character': 'Mia',
  'credit_id': '5431e00dc3a36811ef002c7e',
  'gender': 1,
  'id': 22123,
  'name': 'Jordana Brewster',
  'order': 6,
  'profile_path': '/dORwXZWWmDgG66I5i2Fnr27g3fO.jpg'},
 {'cast_id': 25,
  'character': 'Jakande',
  'credit_id': '5431e015c3a36831a90040da',
  'gender': 2,
  'id': 938,
  'name': 'Djimon Hounsou',
  'order': 7,
  'profile_path': '/y22Pb0XAVqC0l7ukzKKtXzPEuHk.jpg'},
 {'cast_id': 30,
  'character': 'Kiet',
  'credit_id': '5431e04a0e0a26464300432c',
  'gender': 2,
  'id': 57207,
  'name': 'Tony Jaa',
  'order': 8,
  'profile_path': '/qq0uXKe3aKaAE04QQ0BvbbFFufF.jpg'},
 {'cast_id': 21,
  'character': 'Kara',
  'credit_id': '5431dff40e0a2646490043fa',
  'gender': 0,
  'id': 997887,
  'name': 'Ronda Rousey',
  'order': 9,
  'profile_path': '/5eGHTV1bLOdajC4Z3pnIdSiptSG.jpg'},
 {'cast_id': 27,
  'character': 'Ramsey',
  'credit_id': '5431e026c3a36831ac004333',
  'gender': 1,
  'id': 1251069,
  'name': 'Nathalie Emmanuel',
  'order': 10,
  'profile_path': '/yYiJwunH04doOZJgMu7qTZyrRYJ.jpg'},
 {'cast_id': 22,
  'character': 'Mr. Nobody',
  'credit_id': '5431dffa0e0a265872002bdf',
  'gender': 2,
  'id': 6856,
  'name': 'Kurt Russell',
  'order': 11,
  'profile_path': '/rlnFuNkisPpuypARI7QaGCmOY6V.jpg'},
 {'cast_id': 16,
  'character': 'Deckard Shaw',
  'credit_id': '5431dfc70e0a265872002bd5',
  'gender': 2,
  'id': 976,
  'name': 'Jason Statham',
  'order': 12,
  'profile_path': '/PhWiWgasncGWD9LdbsGcmxkV4r.jpg'},
 {'cast_id': 39,
  'character': 'Han',
  'credit_id': '554fa75f92514110bd002a7d',
  'gender': 2,
  'id': 61697,
  'name': 'Sung Kang',
  'order': 13,
  'profile_path': '/fqt53KEfHWsRDcbV2YAY2lKlKrM.jpg'},
 {'cast_id': 38,
  'character': 'Gisele',
  'credit_id': '554fa7439251413e40005aa1',
  'gender': 1,
  'id': 90633,
  'name': 'Gal Gadot',
  'order': 14,
  'profile_path': '/34kHAyBaBhq2kUrmhM15paEBuuI.jpg'},
 {'cast_id': 15,
  'character': 'Sean Boswell',
  'credit_id': '5431dfbb0e0a265915002c2d',
  'gender': 2,
  'id': 155,
  'name': 'Lucas Black',
  'order': 15,
  'profile_path': '/41qZZc6vRVm5ZOoXWfEf5NGoIZR.jpg'},
 {'cast_id': 23,
  'character': 'Elena',
  'credit_id': '5431e003c3a36811ef002c7c',
  'gender': 1,
  'id': 73269,
  'name': 'Elsa Pataky',
  'order': 16,
  'profile_path': '/c1km2kqasJT9GTISMbBZpp3jbuR.jpg'},
 {'cast_id': 35,
  'character': 'Hector',
  'credit_id': '554fa677c3a3687b7d002468',
  'gender': 2,
  'id': 53252,
  'name': 'Noel Gugliemi',
  'order': 17,
  'profile_path': '/mI5urNyZJAzIGxelTjBkm624DkB.jpg'},
 {'cast_id': 37,
  'character': 'Sheppard',
  'credit_id': '554fa6f19251413ea10004fc',
  'gender': 2,
  'id': 222906,
  'name': 'John Brotherton',
  'order': 18,
  'profile_path': '/sE73Zs4q8rugmrFnn9jv2wAEVrI.jpg'},
 {'cast_id': 34,
  'character': 'Owen Shaw',
  'credit_id': '554fa651c3a3681870005275',
  'gender': 2,
  'id': 114019,
  'name': 'Luke Evans',
  'order': 19,
  'profile_path': '/1d31uDYub8TaLOPWfgX78OotduD.jpg'},
 {'cast_id': 36,
  'character': 'Safar',
  'credit_id': '554fa6d7c3a3685221000283',
  'gender': 2,
  'id': 492791,
  'name': 'Ali Fazal',
  'order': 20,
  'profile_path': '/AmT132VCz3InJBAQQPJnqqgsQsB.jpg'},
 {'cast_id': 145,
  'character': 'Jack',
  'credit_id': '59a8b72092514157c601fb92',
  'gender': 0,
  'id': 1880145,
  'name': 'Miller Kimsey',
  'order': 21,
  'profile_path': None},
 {'cast_id': 146,
  'character': 'Jack',
  'credit_id': '59a8b72b925141579d020797',
  'gender': 0,
  'id': 1880146,
  'name': 'Charlie Kimsey',
  'order': 22,
  'profile_path': None},
 {'cast_id': 133,
  'character': 'Samantha Hobbs',
  'credit_id': '56417cfec3a3685be2001846',
  'gender': 1,
  'id': 1533850,
  'name': 'Eden Estrella',
  'order': 23,
  'profile_path': '/xxzcCrgD38jOyCRlbBA5ksfrN14.jpg'},
 {'cast_id': 147,
  'character': 'Letty Fan',
  'credit_id': '59a8b787c3a36874d5007d12',
  'gender': 2,
  'id': 1534800,
  'name': 'Gentry White',
  'order': 24,
  'profile_path': '/dzu9JUDSHDXrnit7ZlOnJuRJj1X.jpg'},
 {'cast_id': 26,
  'character': 'Female Racer',
  'credit_id': '5431e01c0e0a265834002c97',
  'gender': 1,
  'id': 1364893,
  'name': 'Iggy Azalea',
  'order': 25,
  'profile_path': '/KG5skDx5WeGDijkUUQnmOP0crG.jpg'},
 {'cast_id': 148,
  'character': 'Male Racer',
  'credit_id': '59a8b7afc3a3683d0701b1ad',
  'gender': 0,
  'id': 1161711,
  'name': 'Jon Lee Brody',
  'order': 26,
  'profile_path': '/u1agQE1nYgt2LOijksYJMPYxpKh.jpg'},
 {'cast_id': 135,
  'character': 'Race Starter',
  'credit_id': '56c259c89251414a9b000865',
  'gender': 1,
  'id': 1578220,
  'name': 'Levy Tran',
  'order': 27,
  'profile_path': '/iKcRuLRwmcuoD43E4X0YlYquYGD.jpg'},
 {'cast_id': 132,
  'character': 'Hot Teacher',
  'credit_id': '56417cc592514128af001862',
  'gender': 0,
  'id': 118593,
  'name': 'Anna Colwell',
  'order': 28,
  'profile_path': '/qerkK7Z26GttfJ8Sq6xMwhkYLq3.jpg'},
 {'cast_id': 149,
  'character': 'Doctor',
  'credit_id': '59a8b80e92514157ab0206fc',
  'gender': 0,
  'id': 1880147,
  'name': 'Viktor Hernandez',
  'order': 29,
  'profile_path': None},
 {'cast_id': 150,
  'character': 'Priest',
  'credit_id': '59a8b84092514157c601fce8',
  'gender': 2,
  'id': 80619,
  'name': 'Steve Coulter',
  'order': 30,
  'profile_path': '/v1cwS9Ia89pO154Wje3m4IxuI3.jpg'},
 {'cast_id': 130,
  'character': 'Merc Tech',
  'credit_id': '56417c3092514128a6001a15',
  'gender': 0,
  'id': 97844,
  'name': 'Robert Pralgo',
  'order': 31,
  'profile_path': '/iDPgSaDVhwIItvqa2Wn79oaUzf8.jpg'},
 {'cast_id': 151,
  'character': 'Weapons Tech',
  'credit_id': '59a8b888c3a3683ce601e3aa',
  'gender': 0,
  'id': 1381712,
  'name': 'Antwan Mills',
  'order': 32,
  'profile_path': '/58nvO2Se7TS0ETUEzHHjJ0MLH5U.jpg'},
 {'cast_id': 152,
  'character': 'Billionaire',
  'credit_id': '59a8b8bac3a36874d5007ea3',
  'gender': 0,
  'id': 1880148,
  'name': 'J.J. Phillips',
  'order': 33,
  'profile_path': None},
 {'cast_id': 153,
  'character': 'Dominican Priest',
  'credit_id': '59a8b8ccc3a3683c8701fa73',
  'gender': 0,
  'id': 1880149,
  'name': 'Jorge Ferragut',
  'order': 34,
  'profile_path': None},
 {'cast_id': 154,
  'character': 'Hana',
  'credit_id': '59a8b8e3c3a36874d5007ec7',
  'gender': 0,
  'id': 1440699,
  'name': 'Sara Sohn',
  'order': 35,
  'profile_path': '/8nfPK3sFpHzw0uu66LmTK9HcQ5G.jpg'},
 {'cast_id': 155,
  'character': 'Merc Driver (as Ben Blankenship)',
  'credit_id': '59a8b904c3a3683c7a02381c',
  'gender': 0,
  'id': 1093707,
  'name': 'Benjamin Blankenship',
  'order': 36,
  'profile_path': '/xl0O9d7xS6XGSRqQl16StOxtkOR.jpg'},
 {'cast_id': 156,
  'character': 'DJ',
  'credit_id': '59a8b953c3a36876710081c2',
  'gender': 0,
  'id': 1880150,
  'name': 'D.J. Hapa',
  'order': 37,
  'profile_path': None},
 {'cast_id': 140,
  'character': 'DJ',
  'credit_id': '58eee68c92514142020018f0',
  'gender': 0,
  'id': 224092,
  'name': 'T-Pain',
  'order': 38,
  'profile_path': None},
 {'cast_id': 157,
  'character': 'Drone Tech',
  'credit_id': '59a8b98892514157ee01f2d9',
  'gender': 2,
  'id': 54792,
  'name': 'Brian Mahoney',
  'order': 39,
  'profile_path': '/v6pTsqgOHE5TldFV63Kr44idQNe.jpg'},
 {'cast_id': 131,
  'character': 'Jasmine',
  'credit_id': '56417c7b92514128a90018fb',
  'gender': 1,
  'id': 1128522,
  'name': 'Brittney Alger',
  'order': 40,
  'profile_path': '/u1eKIGLkK2GTpqFArNxgAMTMhOj.jpg'},
 {'cast_id': 158,
  'character': 'Mando',
  'credit_id': '59a8b9ad92514157ab020902',
  'gender': 0,
  'id': 1451616,
  'name': 'Romeo Santos',
  'order': 41,
  'profile_path': '/lbt98DkUpRNoJXiFbXzQfhMIRt4.jpg'},
 {'cast_id': 159,
  'character': 'Advisor',
  'credit_id': '59a8b9ca925141579d020ab6',
  'gender': 1,
  'id': 78804,
  'name': 'Jocelin Donahue',
  'order': 42,
  'profile_path': '/eQXBzPjo9K8MG9TVOoQDNoHEFwv.jpg'},
 {'cast_id': 160,
  'character': 'Field Reporter',
  'credit_id': '59a8b9da9251415808021296',
  'gender': 0,
  'id': 1880151,
  'name': 'Stephanie Langston',
  'order': 43,
  'profile_path': None},
 {'cast_id': 161,
  'character': 'Cop',
  'credit_id': '59a8b9f192514157a5020874',
  'gender': 0,
  'id': 1448173,
  'name': 'Jorge-Luis Pallo',
  'order': 44,
  'profile_path': '/9cw97jnvm7SvnCTNBWZHXt4clfu.jpg'},
 {'cast_id': 143,
  'character': 'Leo (uncredited / archive)',
  'credit_id': '58eee6b8925141423500180f',
  'gender': 2,
  'id': 96321,
  'name': 'Tego Calder√≥n',
  'order': 45,
  'profile_path': '/pz7i7LV35XRC5Si8liRoYWdrcr0.jpg'},
 {'cast_id': 142,
  'character': 'Neela (uncredited / archive)',
  'credit_id': '58eee6ab92514141ff001971',
  'gender': 1,
  'id': 116277,
  'name': 'Nathalie Kelley',
  'order': 46,
  'profile_path': '/68xBLk7FvQ36v794LbOrMxeOJeQ.jpg'},
 {'cast_id': 29,
  'character': 'Twinkie (uncredited)',
  'credit_id': '5431e03e0e0a265872002bf2',
  'gender': 0,
  'id': 58197,
  'name': 'Shad Moss',
  'order': 47,
  'profile_path': '/A1rHY9B5R9cIQshClcJxBYINg1m.jpg'},
 {'cast_id': 144,
  'character': 'Santos (uncredited / archive)',
  'credit_id': '58eee6c492514141f70019b8',
  'gender': 0,
  'id': 90634,
  'name': 'Don Omar',
  'order': 48,
  'profile_path': '/f1INIG2TE9jXXp5A3gGJR9UkePK.jpg'},
 {'cast_id': 141,
  'character': 'Race Wars Racer (uncredited)',
  'credit_id': '58eee698c3a36826510017dc',
  'gender': 0,
  'id': 1563213,
  'name': 'Klement Tinaj',
  'order': 49,
  'profile_path': None},
 {'cast_id': 139,
  'character': "Brian O'Conner (uncredited)",
  'credit_id': '58eee621c3a368265e001729',
  'gender': 0,
  'id': 1795034,
  'name': 'Caleb Walker',
  'order': 50,
  'profile_path': None},
 {'cast_id': 45,
  'character': "Brian O'Connor (uncredited)",
  'credit_id': '5589e3fd925141569c00003e',
  'gender': 2,
  'id': 1480862,
  'name': 'Cody Walker',
  'order': 51,
  'profile_path': '/6InC9qPrftOqsRK9ALcKFLHXSLV.jpg'}]

In [45]:
actor_list=[]
for i in crew_list:
    actor_list.append(i['name'])

In [46]:
actor_list

['Vin Diesel',
 'Neal H. Moritz',
 'Chris Morgan',
 'Gary Scott Thompson',
 'James Wan',
 'Stephen F. Windon',
 'Tony Mecca',
 'Marc Spicer',
 'Samantha Vincent',
 'F. Valentino Morales',
 'Michael Fottrell',
 'Brandon Birtell',
 'Leigh Folsom Boyd',
 'Dylan Highsmith',
 'Kirk M. Morri',
 'Christian Wagner',
 'Anne McCarthy',
 'Kellie Roy',
 'Jonathan Carlos',
 'Alan Hook',
 'Jay Pelissier',
 'Kelly Richardson',
 'Courtney Cocherell',
 'Elena Albanese',
 'Alex McCarroll',
 'Bruce Di Valerio',
 'Bill Brzeski',
 'Danielle Berman',
 'Sanja Milkovic Hays',
 'Nava R. Sadan',
 'Andrew Hunt',
 'Jim Alan Cook',
 'Shayne Allen Duhon',
 'Empress Holley',
 'Marina Marit',
 'Les Morgan',
 'Linda D. Flowers',
 "Yesim 'Shimmy' Osman",
 'Jennifer Santiago',
 'Rachel Solow',
 'Roxane Griffin',
 'James MacKinnon',
 'Autumn Butler',
 "Roxy D'Alonzo",
 'Hee Soo Kwon',
 'Sarah Mays',
 'Paul Pattison',
 'Eleanor Sabaduquia',
 'Guillaume DeLouche',
 'Douglas T. Madison',
 'Igor Meglic',
 'Jacques Haitkin',
 'Michael Ambrose',
 'Denise Bailie',
 'Robert-James Bova',
 'Tom Fendley',
 'Sarah Levy',
 'Mark Emery Moore',
 'Daniel Nichols',
 'Onofrio Nino Pansini',
 'David Richert',
 'Michael J. Walker',
 'Maurice K. McGuire',
 'Richard Latham',
 'Steve Koster',
 'Dylan Goss',
 'Geoffrey Haley',
 'Scott Garfield',
 'Bob Gorelick',
 'J. Christopher Campbell',
 'Dan Cornwall',
 'Catherine Mullan',
 'Robb Boyd',
 'Matthew Llewellyn',
 'Jody Blose',
 'Brenda K. Wachel',
 'Paul Walker',
 'Amy Pawlowski',
 'Richard Conkling',
 'Dave  Cory',
 'Laura Steiger',
 'Daniel Barrett',
 'Anna MacKenzie',
 'Anna MacKenzie',
 'Frederick H. Stahly',
 'Gary A. Hecker',
 'Rick Owens',
 'Dylan Tuomy-Wilhoit',
 'Jeffrey Wilhoit',
 'Peter Brown',
 'Ann Scibelli',
 'Stephen P. Robinson',
 'Jon Taylor',
 'Frank A. Monta√±o',
 'Joe Dzuban',
 'Desma Murphy',
 'Brian Tyler',
 'Chris Morgan']

# 2.This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)?

In [47]:
##ROI
imdb1['ROI']=100*imdb1['profit']/imdb1['budget']

In [48]:
imdb1

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue,profit,ROI
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349,-12.038207
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435,137.873588
2,3300000,"[{'id': 18, 'name': 'Drama'}]",tt2582802,en,Whiplash,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,9792000,296.727273
3,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1821480,hi,Kahaani,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,14800000,1233.333333
4,16450000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,-12526030,-76.146079
...,...,...,...,...,...,...,...,...,...,...
2995,16450000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0109403,en,Chasers,"[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,-14853313,-90.293696
2996,16450000,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",tt2364975,sv,Vi är bäst!,"[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,-16269410,-98.902188
2997,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",tt0116908,en,The Long Kiss Goodnight,"[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,24456761,37.625786
2998,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0343135,en,Along Came Polly,"[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,129963386,309.436633
2999,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",tt1600195,en,Abduction,"[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,47087155,134.534729

In [49]:
m=imdb1.groupby('original_language')['ROI'].mean().reset_index()

In [50]:
m

   original_language           ROI
0                 ar    -91.807009
1                 bn    -96.739429
2                 cn     86.002479
3                 cs    -99.894267
4                 da     24.702661
5                 de    510.347257
6                 el   5198.013245
7                 en    929.987781
8                 es    103.433478
9                 fa      3.235168
10                fi    -30.319235
11                fr     51.900020
12                he    456.292450
13                hi    249.618424
14                hu    -95.535384
15                id    -41.617578
16                it     22.136747
17                ja    122.763087
18                ko  11277.949295
19                ml    370.833333
20                mr    193.333333
21                nb     18.847943
22                nl    -24.142008
23                no     24.155275
24                pl    395.816987
25                pt    -29.291459
26                ro    -62.182109
27                ru    115.160185
28                sr   3397.506200
29                sv     25.853172
30                ta    159.258448
31                te    440.076812
32                tr    558.596201
33                ur    350.673773
34                vi    -50.846154
35                zh    309.093227

In [51]:
i=np.where(m['ROI']==max(m['ROI']))[0][0]

In [52]:
m.loc[i,'original_language']

'ko'

In [53]:
m[m['ROI']==max(m['ROI'])]['original_language'].values[0]

'ko'

# 3.Find out the unique genres of movies in this dataset.

In [54]:
imdb_genres=imdb1[~imdb1['genres'].isna()]

In [55]:
imdb_genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2993 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             2993 non-null   int64
 1   genres             2993 non-null   object
 2   imdb_id            2993 non-null   object
 3   original_language  2993 non-null   object
 4   original_title     2993 non-null   object
 5   cast               2980 non-null   object
 6   crew               2978 non-null   object
 7   revenue            2993 non-null   int64
 8   profit             2993 non-null   int64
 9   ROI                2993 non-null   float64
dtypes: float64(1), int64(3), object(6)
memory usage: 257.2+ KB

In [56]:
imdb_genres.loc[0,'genres']

[{'id': 35, 'name': 'Comedy'}]

In [57]:
c=[]
for i in imdb_genres['genres']:
    for j in i:
        c.append(j['name'])

In [58]:
set(c)

{'Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'TV Movie',
 'Thriller',
 'War',
 'Western'}

# 4.Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI?

In [59]:
imdb1

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue,profit,ROI
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349,-12.038207
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435,137.873588
2,3300000,"[{'id': 18, 'name': 'Drama'}]",tt2582802,en,Whiplash,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,9792000,296.727273
3,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1821480,hi,Kahaani,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,14800000,1233.333333
4,16450000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,-12526030,-76.146079
...,...,...,...,...,...,...,...,...,...,...
2995,16450000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0109403,en,Chasers,"[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,-14853313,-90.293696
2996,16450000,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",tt2364975,sv,Vi är bäst!,"[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,-16269410,-98.902188
2997,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",tt0116908,en,The Long Kiss Goodnight,"[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,24456761,37.625786
2998,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0343135,en,Along Came Polly,"[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,129963386,309.436633
2999,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",tt1600195,en,Abduction,"[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,47087155,134.534729

In [60]:
imdb1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             3000 non-null   int64
 1   genres             2993 non-null   object
 2   imdb_id            3000 non-null   object
 3   original_language  3000 non-null   object
 4   original_title     3000 non-null   object
 5   cast               2987 non-null   object
 6   crew               2984 non-null   object
 7   revenue            3000 non-null   int64
 8   profit             3000 non-null   int64
 9   ROI                3000 non-null   float64
dtypes: float64(1), int64(3), object(6)
memory usage: 234.5+ KB

In [61]:
##imdb_crew=imdb1[imdb1['crew']!=imdb1['crew'].isna()]
imdb_crew=imdb1[~imdb1['crew'].isna()]

In [62]:
imdb_crew.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2984 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             2984 non-null   int64
 1   genres             2978 non-null   object
 2   imdb_id            2984 non-null   object
 3   original_language  2984 non-null   object
 4   original_title     2984 non-null   object
 5   cast               2984 non-null   object
 6   crew               2984 non-null   object
 7   revenue            2984 non-null   int64
 8   profit             2984 non-null   int64
 9   ROI                2984 non-null   float64
dtypes: float64(1), int64(3), object(6)
memory usage: 256.4+ KB

In [63]:
def get_prod_dir_list(x):
    try:
        pl=[]
        dl=[]
        for i in x:
            if i['job']=='Producer':
                pl.append(i['name'])
            if i['job']=='Director':
                dl.append(i['name'])
        return pl,dl
    except:
        return [],[]

In [64]:
get_prod_dir_list(imdb_crew.loc[0,'crew'])

(['Andrew Panay'], ['Steve Pink'])

In [65]:
imdb_crew[['Producer','Director']]=imdb_crew.apply(lambda x:get_prod_dir_list(x['crew']),axis=1,result_type='expand')

C:\Users\HP\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [66]:
imdb_crew

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue,profit,ROI,Producer,Director
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349,-12.038207,[Andrew Panay],[Steve Pink]
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435,137.873588,"[Whitney Houston, Mario Iscovich, Debra Martin...",[Garry Marshall]
2,3300000,"[{'id': 18, 'name': 'Drama'}]",tt2582802,en,Whiplash,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,9792000,296.727273,"[David Lancaster, Michel Litvak, Jason Blum, H...",[Damien Chazelle]
3,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1821480,hi,Kahaani,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,14800000,1233.333333,[Sujoy Ghosh],[Sujoy Ghosh]
4,16450000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,-12526030,-76.146079,[],[Jong-seok Yoon]
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,16450000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0109403,en,Chasers,"[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,-14853313,-90.293696,[James G. Robinson],[Dennis Hopper]
2996,16450000,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",tt2364975,sv,Vi är bäst!,"[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,-16269410,-98.902188,[Lars J√∂nsson],[Lukas Moodysson]
2997,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",tt0116908,en,The Long Kiss Goodnight,"[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,24456761,37.625786,"[Stephanie Austin, Shane Black, Renny Harlin, ...",[Renny Harlin]
2998,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0343135,en,Along Came Polly,"[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,129963386,309.436633,"[Danny DeVito, Michael Shamberg, Stacey Sher]",[John Hamburg]
2999,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",tt1600195,en,Abduction,"[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,47087155,134.534729,"[Doug Davison, Roy Lee, Ellen Goldsmith-Vein, ...",[John Singleton]

In [67]:
imdb_crew=imdb_crew.sort_values(['ROI'],ascending=False)

In [68]:
imdb_crew

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue,profit,ROI,Producer,Director
1230,15000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",tt1179904,en,Paranormal Activity,"[{'cast_id': 3, 'character': 'Katie', 'credit_...","[{'credit_id': '52fe4477c3a368484e024b01', 'de...",193355800,193340800,1.288939e+06,"[Jason Blum, Oren Peli, Amir Zbeda]",[Oren Peli]
1679,60000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",tt0185937,en,The Blair Witch Project,"[{'cast_id': 41, 'character': 'Mike', 'credit_...","[{'credit_id': '52fe4364c3a36847f8050c01', 'de...",248000000,247940000,4.132333e+05,"[Robin Cowie, Gregg Hale]","[Daniel Myrick, Eduardo S√°nchez]"
2610,5000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",tt5066556,ko,대호,"[{'cast_id': 0, 'character': 'Cheon Man-deok',...","[{'credit_id': '56657194c3a368510e001d58', 'de...",11083449,11078449,2.215690e+05,[],[Park Hoon-Jung]
1893,12000,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",tt0069089,en,Pink Flamingos,"[{'cast_id': 8, 'character': 'Divine / Babs Jo...","[{'credit_id': '52fe426bc3a36847f801d203', 'de...",6000000,5988000,4.990000e+04,[John Waters],[John Waters]
817,100000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",tt0068837,en,The Legend of Boggy Creek,"[{'cast_id': 3, 'character': 'Narrator', 'cred...","[{'credit_id': '52fe4319c3a36847f803a411', 'de...",22000000,21900000,2.190000e+04,[Charles B. Pierce],[Charles B. Pierce]
...,...,...,...,...,...,...,...,...,...,...,...,...
1025,16450000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt1817081,en,A Case of You,"[{'cast_id': 4, 'character': 'Sam Newman', 'cr...","[{'credit_id': '55154011925141538d000cb7', 'de...",4187,-16445813,-9.997455e+01,"[Justin Long, Holly Wiersma, Keir O'Donnell, J...",[Kat Coiro]
1915,16450000,"[{'id': 35, 'name': 'Comedy'}]",tt2520516,fr,La stratégie de la poussette,"[{'cast_id': 2, 'character': 'Thomas Platz', '...","[{'credit_id': '52fe4b349251416c910d333f', 'de...",3462,-16446538,-9.997895e+01,"[Thomas Verhaeghe, Alain Benguigui]",[Cl√©ment Michel]
910,16450000,"[{'id': 18, 'name': 'Drama'}]",tt2942522,ko,뫼비우스,"[{'cast_id': 3, 'character': 'Father', 'credit...","[{'credit_id': '52fe4e08c3a368484e20a747', 'de...",2340,-16447660,-9.998578e+01,[],[Kim Ki-duk]
2637,16450000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0148462,en,Men Cry Bullets,"[{'cast_id': 12, 'character': 'Billy', 'credit...","[{'credit_id': '52fe4de8c3a368484e204329', 'de...",2303,-16447697,-9.998600e+01,"[Harry Ralston, Honey Lauren, Jessica Rains, T...",[Tamara Hernandez]
403,16450000,"[{'id': 28, 'name': 'Action'}]",tt1884457,en,The Package,"[{'cast_id': 3, 'character': 'Tommy Wick', 'cr...","[{'credit_id': '52fe4b879251416c75105dc9', 'de...",1469,-16448531,-9.999107e+01,"[Justin Bursch, Brad Krevoy]",[Jesse V. Johnson]

# 5.Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor.

In [69]:
imdb_cast=imdb1[~imdb1['cast'].isna()]

In [70]:
imdb_cast.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2987 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             2987 non-null   int64
 1   genres             2980 non-null   object
 2   imdb_id            2987 non-null   object
 3   original_language  2987 non-null   object
 4   original_title     2987 non-null   object
 5   cast               2987 non-null   object
 6   crew               2984 non-null   object
 7   revenue            2987 non-null   int64
 8   profit             2987 non-null   int64
 9   ROI                2987 non-null   float64
dtypes: float64(1), int64(3), object(6)
memory usage: 256.7+ KB

In [71]:
imdb_cast.loc[0,'cast']

[{'cast_id': 4,
  'character': 'Lou',
  'credit_id': '52fe4ee7c3a36847f82afae7',
  'gender': 2,
  'id': 52997,
  'name': 'Rob Corddry',
  'order': 0,
  'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'},
 {'cast_id': 5,
  'character': 'Nick',
  'credit_id': '52fe4ee7c3a36847f82afaeb',
  'gender': 2,
  'id': 64342,
  'name': 'Craig Robinson',
  'order': 1,
  'profile_path': '/tVaRMkJXOEVhYxtnnFuhqW0Rjzz.jpg'},
 {'cast_id': 6,
  'character': 'Jacob',
  'credit_id': '52fe4ee7c3a36847f82afaef',
  'gender': 2,
  'id': 54729,
  'name': 'Clark Duke',
  'order': 2,
  'profile_path': '/oNzK0umwm5Wn0wyEbOy6TVJCSBn.jpg'},
 {'cast_id': 7,
  'character': 'Adam Jr.',
  'credit_id': '52fe4ee7c3a36847f82afaf3',
  'gender': 2,
  'id': 36801,
  'name': 'Adam Scott',
  'order': 3,
  'profile_path': '/5gb65xz8bzd42yjMAl4zwo4cvKw.jpg'},
 {'cast_id': 8,
  'character': 'Hot Tub Repairman',
  'credit_id': '52fe4ee7c3a36847f82afaf7',
  'gender': 2,
  'id': 54812,
  'name': 'Chevy Chase',
  'order': 4,
  'profile_path': '/svjpyYtPwtjvRxX9IZnOmOkhDOt.jpg'},
 {'cast_id': 9,
  'character': 'Jill',
  'credit_id': '52fe4ee7c3a36847f82afafb',
  'gender': 1,
  'id': 94098,
  'name': 'Gillian Jacobs',
  'order': 5,
  'profile_path': '/rBnhe5vhNPnhRUdtYahBWx90fJM.jpg'},
 {'cast_id': 10,
  'character': 'Sophie',
  'credit_id': '52fe4ee7c3a36847f82afaff',
  'gender': 1,
  'id': 1159009,
  'name': 'Bianca Haase',
  'order': 6,
  'profile_path': '/4x3nbtD8q8phAJPmoGWXPvz0iM.jpg'},
 {'cast_id': 11,
  'character': 'Kelly',
  'credit_id': '5524ec51c3a3687df3000dbb',
  'gender': 1,
  'id': 86624,
  'name': 'Collette Wolfe',
  'order': 7,
  'profile_path': '/aSD4h5379b2eEw3bLou9ByLimmq.jpg'},
 {'cast_id': 13,
  'character': 'Brad',
  'credit_id': '5524ec8ec3a3687ded000d72',
  'gender': 2,
  'id': 466505,
  'name': 'Kumail Nanjiani',
  'order': 9,
  'profile_path': '/x4nAztHY72SVciRfxEsbhIVTsIu.jpg'},
 {'cast_id': 14,
  'character': 'Courtney',
  'credit_id': '5524ec9bc3a3687df8000d13',
  'gender': 1,
  'id': 70776,
  'name': 'Kellee Stewart',
  'order': 10,
  'profile_path': '/w3xmsEPmJc1Cf0dQ4aIn8YmlHbk.jpg'},
 {'cast_id': 15,
  'character': 'Terry',
  'credit_id': '5524eca892514171cb008237',
  'gender': 2,
  'id': 347335,
  'name': 'Josh Heald',
  'order': 11,
  'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'},
 {'cast_id': 16,
  'character': 'Susan',
  'credit_id': '5524ecb7925141720c001116',
  'gender': 0,
  'id': 1451392,
  'name': 'Gretchen Koerner',
  'order': 12,
  'profile_path': '/muULPexCTJGyJba4yKzxronpD50.jpg'},
 {'cast_id': 17,
  'character': 'Herself',
  'credit_id': '5524ecc3c3a3687ded000d74',
  'gender': 1,
  'id': 98879,
  'name': 'Lisa Loeb',
  'order': 13,
  'profile_path': '/bGqg58ca0bZR38z9HliUMmeNGE.jpg'},
 {'cast_id': 18,
  'character': 'Herself',
  'credit_id': '5524ecd3c3a3687e11000ed3',
  'gender': 1,
  'id': 1394648,
  'name': 'Jessica Williams',
  'order': 14,
  'profile_path': '/A4syKjkcYB92wLEhH0c0hC3BCpz.jpg'},
 {'cast_id': 19,
  'character': 'Himself',
  'credit_id': '5524ece6925141718d001009',
  'gender': 0,
  'id': 1451393,
  'name': 'Bruce Buffer',
  'order': 15,
  'profile_path': None},
 {'cast_id': 20,
  'character': 'Shot Girl',
  'credit_id': '5524ecf5c3a3687e08000dc2',
  'gender': 0,
  'id': 1451394,
  'name': 'Mariana Paola Vicente',
  'order': 16,
  'profile_path': '/ckPllza8624UHWGHCbLShkLxCD1.jpg'},
 {'cast_id': 33,
  'character': 'Choozy Doozy Host',
  'credit_id': '555844da9251412afe0013a9',
  'gender': 2,
  'id': 2224,
  'name': 'Christian Slater',
  'order': 17,
  'profile_path': '/3ElLWjnvchMS6Q4cIQOK8QNAoMG.jpg'},
 {'cast_id': 35,
  'character': 'Gary Winkle',
  'credit_id': '55872027c3a3683853005074',
  'gender': 0,
  'id': 185805,
  'name': 'Jason Jones',
  'order': 18,
  'profile_path': '/aIoCw6vo8AGMdsQRAI5g2t0yJT3.jpg'},
 {'cast_id': 36,
  'character': 'Bridesmaid',
  'credit_id': '55efe971c3a368090c00cd1b',
  'gender': 0,
  'id': 1507448,
  'name': 'Olivia Jordan',
  'order': 19,
  'profile_path': '/szMukAEiIDeasel0lvyaeyKuych.jpg'},
 {'cast_id': 37,
  'character': 'Christine',
  'credit_id': '55efe980c3a36871bf008176',
  'gender': 1,
  'id': 1334091,
  'name': 'Christine Bently',
  'order': 20,
  'profile_path': '/oUZltnGa55OXE52hfyPTfCshuNy.jpg'},
 {'cast_id': 38,
  'character': 'Excited Girl',
  'credit_id': '55efe98e9251413e3201d316',
  'gender': 0,
  'id': 557803,
  'name': 'Stacey Asaro',
  'order': 21,
  'profile_path': '/qTPdlr1dXf3kNdyHuDsgtGC0HCC.jpg'},
 {'cast_id': 64,
  'character': 'Adam (uncredited)',
  'credit_id': '58f2135ac3a3682e95008b91',
  'gender': 2,
  'id': 3036,
  'name': 'John Cusack',
  'order': 22,
  'profile_path': '/uKydQYuZ9TnCzvbQLtj6j98vWAT.jpg'},
 {'cast_id': 65,
  'character': 'J-Bird',
  'credit_id': '59ac0240c3a3682cc802c399',
  'gender': 2,
  'id': 59256,
  'name': 'Adam Herschman',
  'order': 23,
  'profile_path': '/wZMwiuX1DslF6hDS50z9OTN6z1X.jpg'},
 {'cast_id': 66,
  'character': 'Bridesmaid',
  'credit_id': '59ac02cd925141079d02b1b4',
  'gender': 1,
  'id': 129714,
  'name': 'Kisha Sierra',
  'order': 24,
  'profile_path': None}]

In [72]:
def get_actors(x):
    try:
        a=[]
        for i in x:
            a.append(i['name'])
        return a
    except:
        return []

In [73]:
get_actors(imdb_cast.loc[0,'cast'])

['Rob Corddry',
 'Craig Robinson',
 'Clark Duke',
 'Adam Scott',
 'Chevy Chase',
 'Gillian Jacobs',
 'Bianca Haase',
 'Collette Wolfe',
 'Kumail Nanjiani',
 'Kellee Stewart',
 'Josh Heald',
 'Gretchen Koerner',
 'Lisa Loeb',
 'Jessica Williams',
 'Bruce Buffer',
 'Mariana Paola Vicente',
 'Christian Slater',
 'Jason Jones',
 'Olivia Jordan',
 'Christine Bently',
 'Stacey Asaro',
 'John Cusack',
 'Adam Herschman',
 'Kisha Sierra']

In [74]:
imdb_cast['Actor_list']=imdb_cast['cast'].apply(get_actors)

<ipython-input-74-d5a95beedd63>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_cast['Actor_list']=imdb_cast['cast'].apply(get_actors)

In [75]:
imdb_cast

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue,profit,ROI,Actor_list
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349,-12.038207,"[Rob Corddry, Craig Robinson, Clark Duke, Adam..."
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435,137.873588,"[Anne Hathaway, Julie Andrews, H√©ctor Elizond..."
2,3300000,"[{'id': 18, 'name': 'Drama'}]",tt2582802,en,Whiplash,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,9792000,296.727273,"[Miles Teller, J.K. Simmons, Melissa Benoist, ..."
3,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1821480,hi,Kahaani,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,14800000,1233.333333,"[Vidya Balan, Nawazuddin Siddiqui, Parambrata ..."
4,16450000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,-12526030,-76.146079,"[Kim Kang-woo, Jo Jae-hyeon, Park Si-yeon, Kim..."
...,...,...,...,...,...,...,...,...,...,...,...
2995,16450000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0109403,en,Chasers,"[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,-14853313,-90.293696,"[Tom Berenger, William McNamara, –≠—Ä–∏–∫–∞ –≠..."
2996,16450000,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",tt2364975,sv,Vi är bäst!,"[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,-16269410,-98.902188,"[Mira Barkhammar, Mira Grosin, Liv LeMoyne, Da..."
2997,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",tt0116908,en,The Long Kiss Goodnight,"[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,24456761,37.625786,"[Geena Davis, Samuel L. Jackson, Yvonne Zima, ..."
2998,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0343135,en,Along Came Polly,"[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,129963386,309.436633,"[Ben Stiller, Jennifer Aniston, Philip Seymour..."
2999,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",tt1600195,en,Abduction,"[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,47087155,134.534729,"[Taylor Lautner, Lily Collins, Alfred Molina, ..."

In [76]:
a_tab=[]
for i in imdb_cast['Actor_list']:
    for j in i:
        a_tab.append(j)

In [77]:
imdb_cast['Actor_list']

0       [Rob Corddry, Craig Robinson, Clark Duke, Adam...
1       [Anne Hathaway, Julie Andrews, H√©ctor Elizond...
2       [Miles Teller, J.K. Simmons, Melissa Benoist, ...
3       [Vidya Balan, Nawazuddin Siddiqui, Parambrata ...
4       [Kim Kang-woo, Jo Jae-hyeon, Park Si-yeon, Kim...
                              ...
2995    [Tom Berenger, William McNamara, –≠—Ä–∏–∫–∞ –≠...
2996    [Mira Barkhammar, Mira Grosin, Liv LeMoyne, Da...
2997    [Geena Davis, Samuel L. Jackson, Yvonne Zima, ...
2998    [Ben Stiller, Jennifer Aniston, Philip Seymour...
2999    [Taylor Lautner, Lily Collins, Alfred Molina, ...
Name: Actor_list, Length: 2987, dtype: object

In [78]:
a_table=pd.DataFrame(a_tab,columns=['actors'])

In [79]:
a_table.value_counts().reset_index().head()

              actors   0
0  Samuel L. Jackson  30
1     Robert De Niro  30
2     Morgan Freeman  27
3        Liam Neeson  25
4     Susan Sarandon  25

# Robert De Niro

In [87]:
m=[]
g=[]
p=[]
m1=[]
g1=[]
p1=[]
for i,row in imdb_cast.iterrows():
    for j in imdb_cast.loc[i,'cast']:
        if type(j)==dict:
            if j['name']=='Robert De Niro':
                    m.append(imdb_cast.loc[i,'original_title'])
                    g.append(imdb_cast.loc[i,'genres'])
                    p.append(imdb_cast.loc[i,'profit'])
            if j['name']=='Samuel L. Jackson':
                    m1.append(imdb_cast.loc[i,'original_title'])
                    g1.append(imdb_cast.loc[i,'genres'])
                    p1.append(imdb_cast.loc[i,'profit'])

In [88]:
m

['This Boy’s Life',
 'What Just Happened',
 'Mad Dog and Glory',
 'The Good Shepherd',
 'Lenny Bruce: Swear to Tell the Truth',
 'Red Lights',
 'Falling in Love',
 'Wag the Dog',
 'Meet the Parents',
 "Marvin's Room",
 'Sleepers',
 'The Fan',
 'The Family',
 'Stone',
 'Being Flynn',
 'Righteous Kill',
 'American Hustle',
 'Jackie Brown',
 'Raging Bull',
 'Angel Heart',
 'Joy',
 'The Deer Hunter',
 'Stanley & Iris',
 'Machete',
 'Mean Streets',
 'Men of Honor',
 'Analyze This',
 'The Bag Man',
 'The Score',
 'Backdraft']

In [82]:
g

[[{'id': 18, 'name': 'Drama'}],
 [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}],
 [{'id': 35, 'name': 'Comedy'},
  {'id': 80, 'name': 'Crime'},
  {'id': 10749, 'name': 'Romance'},
  {'id': 18, 'name': 'Drama'}],
 [{'id': 18, 'name': 'Drama'},
  {'id': 53, 'name': 'Thriller'},
  {'id': 36, 'name': 'History'}],
 [{'id': 35, 'name': 'Comedy'}, {'id': 99, 'name': 'Documentary'}],
 [{'id': 53, 'name': 'Thriller'}],
 [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}],
 [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}],
 [{'id': 35, 'name': 'Comedy'}, {'id': 10749, 'name': 'Romance'}],
 [{'id': 18, 'name': 'Drama'}],
 [{'id': 80, 'name': 'Crime'},
  {'id': 18, 'name': 'Drama'},
  {'id': 53, 'name': 'Thriller'}],
 [{'id': 18, 'name': 'Drama'},
  {'id': 9648, 'name': 'Mystery'},
  {'id': 53, 'name': 'Thriller'}],
 [{'id': 80, 'name': 'Crime'},
  {'id': 35, 'name': 'Comedy'},
  {'id': 28, 'name': 'Action'}],
 [{'id': 18, 'name': 'Drama'}],
 [{'id': 18, 'name': 'Drama'}],
 [{'id': 28, 'name': 'Action'},
  {'id': 80, 'name': 'Crime'},
  {'id': 18, 'name': 'Drama'},
  {'id': 53, 'name': 'Thriller'}],
 [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name': 'Crime'}],
 [{'id': 35, 'name': 'Comedy'},
  {'id': 80, 'name': 'Crime'},
  {'id': 10749, 'name': 'Romance'}],
 [{'id': 18, 'name': 'Drama'}],
 [{'id': 27, 'name': 'Horror'},
  {'id': 9648, 'name': 'Mystery'},
  {'id': 53, 'name': 'Thriller'}],
 [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name': 'Comedy'}],
 [{'id': 18, 'name': 'Drama'}, {'id': 10752, 'name': 'War'}],
 [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}],
 [{'id': 28, 'name': 'Action'},
  {'id': 35, 'name': 'Comedy'},
  {'id': 53, 'name': 'Thriller'}],
 [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name': 'Crime'}],
 [{'id': 18, 'name': 'Drama'}],
 [{'id': 35, 'name': 'Comedy'}, {'id': 80, 'name': 'Crime'}],
 [{'id': 80, 'name': 'Crime'},
  {'id': 18, 'name': 'Drama'},
  {'id': 53, 'name': 'Thriller'}],
 [{'id': 28, 'name': 'Action'},
  {'id': 80, 'name': 'Crime'},
  {'id': 53, 'name': 'Thriller'}],
 [{'id': 28, 'name': 'Action'},
  {'id': 80, 'name': 'Crime'},
  {'id': 18, 'name': 'Drama'},
  {'id': 9648, 'name': 'Mystery'},
  {'id': 53, 'name': 'Thriller'}]]

In [86]:
p.sort()
p

[-36373581,
 -25091435,
 -18326578,
 -17179985,
 -16428650,
 -16393426,
 -15909848,
 -12520282,
 -12345038,
 -10196695,
 -5368414,
 -5320943,
 -448826,
 185632,
 2500000,
 3069884,
 5000000,
 6894225,
 11327899,
 13174566,
 16814909,
 27673162,
 35000000,
 41134059,
 49256513,
 77368585,
 96885658,
 121615285,
 211171807,
 275444045]

In [89]:
m1

['Changing Lanes',
 'The Hateful Eight',
 'Coming to America',
 'Star Wars: Episode III - Revenge of the Sith',
 'Meeting Evil',
 'The Avengers',
 'Jumper',
 'Shaft',
 'Snakes on a Plane',
 'The Man',
 'RoboCop',
 'Jurassic Park',
 'Cell',
 'Star Wars: Episode II - Attack of the Clones',
 'Eddie Murphy Raw',
 'Captain America: The Winter Soldier',
 'Jackie Brown',
 'African Cats',
 'Big Game',
 'Black Snake Moan',
 'Sea of Love',
 'Deep Blue Sea',
 'Basic',
 'The Incredibles',
 'Avengers: Age of Ultron',
 'Out of Sight',
 'Patriot Games',
 'S.W.A.T.',
 'Freedomland',
 'The Long Kiss Goodnight']

# Samuel L. Jackson

In [84]:
##similarly do for this actor

# 6.Top 3 directors prefer which actors the most?

In [85]:
len(imdb_cast['cast'])

2987